@using K9.Base.WebApplication.Helpers
@model Consultation
@{
    Layout = "../Shared/_LayoutForm.cshtml";
}
@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_DisplayFields")
        <a href="mailto:@Model.Contact.EmailAddress">@Html.BootstrapButton(Dictionary.EmailCustomer, EButtonType.Button, "fa fa-enveloper", EButtonClass.Info)</a>
        @Html.AuditFieldsForModel(Model)

        <hr />
        @Html.BootstrapBackToListButton()
        @Html.CrudButtonsForModel(Model)
    }
}