@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Models
@using SessionHelper = K9.WebApplication.Helpers.SessionHelper
@model NineStarKiEnergy

@{
    var label = Model.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy ? Dictionary.YearlyCycle
        : Model.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy ? Dictionary.MonthlyCycle
            : Model.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy ? Dictionary.DailyCycleEnergy
                : Model.EnergyCycleType == ENineStarKiEnergyCycleType.HourlyEnergy ? Dictionary.HourlyEnergy
                    : Model.EnergyCycleType == ENineStarKiEnergyCycleType.GenerationalEnergy ? Dictionary.NineYearlyEnergy
                        : Model.EnergyCycleType == ENineStarKiEnergyCycleType.EpochEnergy ? Dictionary.EightyOneYearlyEnergy
                            : string.Empty;

    var displayPreference = SessionHelper.GetEnergyDefaultDisplay();
    var graphicalStyle = displayPreference == (int)EEnergyDisplay.Graphical ? "" : "display: none";
}

<div class="graphical-display" style="@graphicalStyle">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@label</h3>
        <p class="margin-bottom-2">@Model.ElementNameAndNumber @Dictionary.House</p>
        <div class="energy-image-container">
            <img loading="lazy" title="@Model.SeasonDescription" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.SeasonDescription" class="auto-size center-block" src="@MediaService.BaseImagesPath/ninestar/energies/@(Model.Energy.ToString().ToLower()).png" />
        </div>
        @if (Model.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy || Model.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy || Model.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy)
        {
            <p class="text-center" style="font-size: 0.9em;">
                @Model.CycleDescriptiveName
            </p>
        }
    </div>
</div>