@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Models
@using SessionHelper = K9.WebApplication.Helpers.SessionHelper
@model (NineStarKiEnergy Energy1, NineStarKiEnergy Energy2, bool IsSplit)

@{
    var label = Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy ? Dictionary.YearlyCycle
        : Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy ? Dictionary.MonthlyCycle
            : Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy ? Dictionary.DailyCycleEnergy
                : Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.HourlyEnergy ? Dictionary.HourlyEnergy
                    : Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.GenerationalEnergy ? Dictionary.NineYearlyEnergy
                        : Model.Energy1.EnergyCycleType == ENineStarKiEnergyCycleType.EpochEnergy ? Dictionary.EightyOneYearlyEnergy
                            : string.Empty;

    var displayPreference = SessionHelper.GetEnergyDefaultDisplay();
    var graphicalStyle = displayPreference == (int)EEnergyDisplay.Graphical ? "" : "display: none";
    var house1Text = Model.IsSplit ? Model.Energy1.HouseName : $"{Model.Energy1.HouseName} (Pri)";
    var house2Text = Model.IsSplit ? Model.Energy2.HouseName : $"{Model.Energy2.HouseName} (Sec)";
    var secondHouseClass = Model.IsSplit ? "" : "lunar-house";
}

<div class="graphical-display split-title" style="@graphicalStyle">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@label</h3>
        <p class="margin-bottom-2">@house1Text</p>
        <div class="energy-image-container">
            <img loading="lazy" title="@Model.Energy1.SeasonDescription" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.Energy1.SeasonDescription" class="auto-size center-block" src="@MediaService.BaseImagesPath/ninestar/energies/@(Model.Energy1.Energy.ToString().ToLower()).png" />
        </div>
        <div class="lunar-house-container">
            <p class="margin-bottom-2">@house2Text</p>
            <div class="energy-image-container @secondHouseClass">
                <img loading="lazy" title="@Model.Energy2.SeasonDescription" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.Energy2.SeasonDescription" class="auto-size center-block" src="@MediaService.BaseImagesPath/ninestar/energies/@(Model.Energy2.Energy.ToString().ToLower()).png" />
            </div>
        </div>
    </div>
</div>