@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model NineStarKiModel


<div class="ninestar-summmary container padding-0">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_DateSelector")
        </div>
    </div>

    <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
        <li class="active">
            <a data-toggle="tab" href="#current-monthly-cycle">
                @Dictionary.MonthlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/moon.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#current-yearly-cycle">
                @Dictionary.YearlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/sun.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#monthly-planner">
                @Dictionary.MonthlyPlanner
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/monthly-planner.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#yearly-planner">
                @Dictionary.YearlyPlanner
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/yearly-planner.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#daily-planner">
                @Dictionary.DailyKiCalendar
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/daily-planner.png');"></div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="current-monthly-cycle" class="tab-pane fade in active">
            @Html.Panel(Dictionary.MonthlyPrediction, Dictionary.month_description)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Partial("_Cycle", Model.MonthlyCycleEnergy)
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-yearly-cycle" class="tab-pane fade">
            @Html.Panel(Dictionary.YearlyPrediction, Dictionary.year_description)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Partial("_Cycle", Model.YearlyCycleEnergy)
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-daily-cycle" class="tab-pane fade">
            @Html.Panel(Dictionary.DailyPrediction, Dictionary.year_description)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Partial("_Cycle", Model.YearlyCycleEnergy)
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="yearly-planner" class="tab-pane fade">
            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Panel(Dictionary.YearlyPlanner, Html.Partial("_YearlyPlanner", Model).ToString())
            }

            <hr />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="monthly-planner" class="tab-pane fade">
            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Panel(Dictionary.MonthlyPlanner, Html.Partial("_MonthlyPlanner", Model).ToString())
            }

            <hr />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="daily-planner" class="tab-pane fade">
            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfile))
            {
                @Html.Panel($"{Dictionary.DailyKiCalendar} - {Model.SelectedDate.Value.ToString("MMMM yyyy")}", Html.Partial("_DailyKiCalendar", Model).ToString())
            }

            <hr />
            @Html.Partial("_ButtonsFooter")
        </div>
    </div>
</div>
