@using K9.WebApplication.Config
@using K9.WebApplication.Models
@model NineStarKiEnergy

@{
    var label = Model.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy ? Dictionary.YearlyCycle
        : Model.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy ? Dictionary.MonthlyCycle
            : Model.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy ? Dictionary.DailyCycleEnergy
                : Model.EnergyCycleType == ENineStarKiEnergyCycleType.HourlyEnergy ? Dictionary.HourlyEnergy
                    : Model.EnergyCycleType == ENineStarKiEnergyCycleType.GenerationalEnergy ? Dictionary.NineYearlyEnergy
                        : Model.EnergyCycleType == ENineStarKiEnergyCycleType.EpochEnergy ? Dictionary.EightyOneYearlyEnergy
                            : string.Empty;
}

<div class="ninestar-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0" style="font-size: 0.95em;">@label</h3>
    <p>@Model.EnergyName</p>
    <img loading="lazy" title="@Model.SeasonDescription" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.SeasonDescription" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ninestar/energies/@(Model.Energy.ToString().ToLower()).png" />
    <p class="text-center" style="font-size: 0.9em;">
        @Model.CycleDescriptiveName
    </p>
</div>