@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model NineStarKiModel


<div class="ninestar-summmary container padding-0 cycles-tabs-container">
    <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
        <li>
            <a data-toggle="tab" href="#current-daily-cycle">
                @Dictionary.DailyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/daily-cycle.png');"></div>
            </a>
        </li>

        <li class="active">
            <a data-toggle="tab" href="#current-monthly-cycle">
                @Dictionary.MonthlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/moon.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#current-yearly-cycle">
                @Dictionary.YearlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/sun.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#current-generation-cycle">
                @Dictionary.NineYearlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/nine-year-cycle.png');"></div>
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#current-epoch-cycle">
                @Dictionary.EightyOneYearlyPrediction
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/eighty-one-cycle.png');"></div>
            </a>
        </li>

        @if (DefaultValuesConfiguration.Instance.SystemSettings.IsEnabledAlchemy)
        {
            <li>
                <a data-toggle="tab" href="#alchemy">
                    @Dictionary.Alchemy
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/alchemy.png');"></div>
                </a>
            </li>
        }

        <li>
            <a data-toggle="tab" href="#global-planner">
                @Dictionary.Calendar
                <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/yearly-planner.png');"></div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="current-daily-cycle" class="tab-pane fade">
            @Html.CollapsiblePanel(Dictionary.DailyPrediction, Dictionary.day_description, true)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                if (Model.HousesDisplay == EHousesDisplay.SolarAndLunarHouses)
                {
                    @Html.PanelWithGlobalAndLunar(
                        Model.PersonalHousesOccupiedEnergies.Day.CycleDescriptiveName,
                        Model.PersonalHousesOccupiedLunarEnergies.Day.CycleDescriptiveName,
                        Model.GlobalCycleEnergies.Day.CycleDescriptiveName,
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Day).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedLunarEnergies.Day).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Day).ToString())
                }
                else
                {
                    @Html.PanelWithGlobal(
                                        Model.PersonalHousesOccupiedEnergies.Day.CycleDescriptiveName,
                                        Model.GlobalCycleEnergies.Day.CycleDescriptiveName,
                                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Day).ToString(),
                                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Day).ToString())
                }

                @Html.Partial("_LunarCycle")
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-monthly-cycle" class="tab-pane fade in active">
            @Html.CollapsiblePanel(Dictionary.MonthlyPrediction, Dictionary.month_description, true)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                if (Model.HousesDisplay == EHousesDisplay.SolarAndLunarHouses)
                {
                    @Html.PanelWithGlobalAndLunar(
                        Model.PersonalHousesOccupiedEnergies.Month.CycleDescriptiveName,
                        Model.PersonalHousesOccupiedLunarEnergies.Month.CycleDescriptiveName,
                        Model.GlobalCycleEnergies.Month.CycleDescriptiveName,
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Month).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedLunarEnergies.Month).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Month).ToString())
                }
                else
                {
                    @Html.PanelWithGlobal(
                                        Model.PersonalHousesOccupiedEnergies.Month.CycleDescriptiveName,
                                        Model.GlobalCycleEnergies.Month.CycleDescriptiveName,
                                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Month).ToString(),
                                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Month).ToString())
                }
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-yearly-cycle" class="tab-pane fade">
            @Html.CollapsiblePanel(Dictionary.YearlyPrediction, Dictionary.year_description, true)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                if (Model.HousesDisplay == EHousesDisplay.SolarAndLunarHouses)
                {
                    @Html.PanelWithGlobalAndLunar(
                        Model.PersonalHousesOccupiedEnergies.Year.CycleDescriptiveName,
                        Model.PersonalHousesOccupiedLunarEnergies.Year.CycleDescriptiveName,
                        Model.GlobalCycleEnergies.Year.CycleDescriptiveName,
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Year).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedLunarEnergies.Year).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Year).ToString())
                }
                else
                {
                    @Html.PanelWithGlobal(
                                        Model.PersonalHousesOccupiedEnergies.Year.CycleDescriptiveName,
                                        Model.GlobalCycleEnergies.Year.CycleDescriptiveName,
                                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Year).ToString(),
                                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Year).ToString())
                }
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-generation-cycle" class="tab-pane fade">
            @Html.CollapsiblePanel(Dictionary.NineYearlyPrediction, Dictionary.generation_description, true)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                if (Model.HousesDisplay == EHousesDisplay.SolarAndLunarHouses)
                {
                    @Html.PanelWithGlobalAndLunar(
                        Model.PersonalHousesOccupiedEnergies.Generation.CycleDescriptiveName,
                        Model.PersonalHousesOccupiedLunarEnergies.Generation.CycleDescriptiveName,
                        Model.GlobalCycleEnergies.Generation.CycleDescriptiveName,
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Generation).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedLunarEnergies.Generation).ToString(),
                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Generation).ToString())
                }
                else
                {
                    @Html.PanelWithGlobal(
                                        Model.PersonalHousesOccupiedEnergies.Generation.CycleDescriptiveName,
                                        Model.GlobalCycleEnergies.Generation.CycleDescriptiveName,
                                        Html.Partial("_CycleHeaderWithDescription", Model.PersonalHousesOccupiedEnergies.Generation).ToString(),
                                        Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Generation).ToString())
                }
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="current-epoch-cycle" class="tab-pane fade">
            @Html.CollapsiblePanel($"{Dictionary.EightyOneYearlyPrediction} ({Dictionary.GlobalKiLabel})", $"{Dictionary.epoch_description} {Dictionary.globalki_display_warning}", true)

            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                @Html.Panel(Model.GlobalCycleEnergies.Epoch.CycleDescriptiveName,
                    Html.Partial("_CycleHeaderWithDescription", Model.GlobalCycleEnergies.Epoch).ToString())
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="alchemy" class="tab-pane fade">
            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                <div id="profile-alchemy-container">
                    @Html.PanelWithSummary(Dictionary.ProfileAlchemisedDescription, Dictionary.Loading, Dictionary.Loading)
                </div>
            }

            <br />
            @Html.Partial("_ButtonsFooter")
        </div>

        <div id="global-planner" class="tab-pane fade">
            @using (Html.PayWall(ESection.Predictions, Model, () => Model?.IsMyProfileOrComplementary))
            {
                <div id="global-planner-container">
                    @Html.Partial("Planner/_GlobalPlanner", Model.PlannerViewModel)
                </div>
            }

            <hr />
            @Html.Partial("_ButtonsFooter")
        </div>
    </div>
</div>