@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var cycles = Model.GetMonthlyPlanner();
    var activeCycle = cycles.FirstOrDefault();
}

<div class="container main-content clear-both monthly-planner-container margin-top-5">
    @foreach (var cycle in cycles)
    {
        var year = cycle.Item1;
        var month = cycle.Item2;
        var monthName = cycle.Item3;
        var energy = cycle.Item4;
        var isActive = year == DateTime.Today.Year && month == DateTime.Today.Month;
        var activeClass = isActive ? "active current-month" : string.Empty;

        if (isActive)
        {
            activeCycle = cycle;
        }

        <a class="monthly-planner-item" data-energy="@energy">
            <div class="monthly-planner-item-container row @activeClass">
                <div class="col-xs-1">
                    @Html.Partial("_Year", year.ToString())
                </div>
                <div class="col-xs-1">
                    @Html.Partial("_Month", monthName)
                </div>
                <div class="col-sm-2 col-xs-3">
                    <div class="ninestar-summary-container margin-left-10-xs">
                        <img loading="lazy" title="@energy.EnergyName" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @energy.EnergyName" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ninestar/energies/@(energy.Energy.ToString().ToLower()).png" />
                    </div>
                </div>
                <div class="col-xs-2 hidden-xs">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Energy</h3>
                        <p>@energy.EnergyName</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Season</h3>
                        <p>@energy.SeasonDescription</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@K9.Base.Globalisation.Dictionary.DescriptionLabel</h3>
                        <p>
                            @energy.CycleDescriptiveName
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }

    <div class="calendar-footer padding-5 padding-top-0">
        @Html.Panel("", activeCycle.Item4.CycleDescriptiveName, "monthly-planner-details")
    </div>
</div>