@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var membership = this.GetActiveUserMembership();
    var isUnlimited = membership != null && membership.IsUnlimited() || Model.IsComplementary || K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin();
    var magicStyle = Model.EnergyDisplay == EEnergyDisplay.Graphical ? "display: none;" : "";
    var showDirectionsStyle = Model.EnergyDisplay == EEnergyDisplay.MagicSquare && K9.WebApplication.Helpers.SessionHelper.GetShowDirections() ? "" :
    "display: none;";
    var isMyChart = ViewBag.IsMyChart ?? false;
}

<div class="text-center">
    <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
</div>

@if (isUnlimited)
{
    <div class="row margin-0">
        @if (!isMyChart)
        {
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 padding-0">
                @Html.BootstrapEditorFor(e => e.ScopeDisplay, new EditorOptions
                {
                    Label = ""
                })
            </div>
            <div class="col-sm-4 col-xs-12 col-xs-offset-0 padding-0">
                @Html.BootstrapEditorFor(e => e.EnergyDisplay, new EditorOptions
                {
                    Label = ""
                })
            </div>
        }
        else
        {
            <div class="col-sm-4 col-xs-12 col-sm-offset-4 padding-0">
                @Html.BootstrapEditorFor(e => e.ScopeDisplay, new EditorOptions
                {
                    Label = ""
                })
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-12 padding-0 padding-0 show-directions-container" style="@magicStyle">
            <div class="text-center">
                @Html.BootstrapEditorFor(e => e.ShowDirections)
            </div>
            <div id="directions-instructions" class="magic-tooltip" style="@showDirectionsStyle">
                @Dictionary.DirectionsInstructions
            </div>
        </div>
    </div>

}

@if (Model.DisplayDataForPeriod != EDisplayDataForPeriod.Now)
{
    <div class="text-center">
        <h5>
            @Dictionary.DisplayingDataFor @Model.SelectedDate.Value.ToLongDateTimeString()
        </h5>
    </div>
}

<div class="row">
    <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
        @Html.Panel(Dictionary.PrimaryCycles, Html.Partial("../Predictions/_CoreCycles").ToString())
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
        @Html.Panel(Dictionary.ExtendedCycles, Html.Partial("../Predictions/_AdditionalCycles").ToString())
    </div>
</div>
<div class="row">
    <div class="col-sm-12 padding-0">
        <div class="directions-more-info-container">
            @Html.Partial("../Predictions/_DirectionsChart")
        </div>
    </div>
</div>

@if (!isMyChart)
{
    <hr />
    <div class="row margin-margin-0">
        <div class="col-sm-12 padding-0">
            <article class="margin-bottom-0">
                @Html.CollapsiblePanel(Dictionary.MoreOnCycles, Dictionary.holograhpic_spirals)
            </article>
        </div>
    </div>
}
