@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@if (Model.SelectedDate != DateTime.Today)
{
    <div class="row">
        <div class="text-center">
            @Html.Partial("_SelectedDateAndPeriodTitle")
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
    </div>
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
    </div>
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Day)
    </div>
</div>
<div class="row">
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Hour)
    </div>
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Generation)
    </div>
    <div class="col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Epoch)
    </div>
</div>