@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.ViewModels
@using SessionConstants = K9.WebApplication.Constants.SessionConstants
@model K9.WebApplication.Models.NineStarKiModel

@{
    var membership = this.GetActiveUserMembership();
    var isUnlimited = membership != null && membership.IsUnlimited() || K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin();
    var displayPreference = K9.WebApplication.Helpers.SessionHelper.GetEnergyDefaultDisplay();
    var magicStyle = displayPreference == (int)EEnergyDisplay.Graphical ? "display: none;" : "";
}

@if (isUnlimited)
{
    <div class="row margin-0 margin-bottom-20">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0 padding-0">
            @Html.BootstrapEditorFor(e => e.EnergyDisplay, new EditorOptions
            {
                Label = ""
            })
        </div>
        <div class="col-sm-4 col-xs-12 padding-0 show-directions-container" style="@magicStyle">
            @Html.BootstrapEditorFor(e => e.ShowDirections)
        </div>
    </div>
}

@if (Model.DisplayDataForPeriod != EDisplayDataForPeriod.Now)
{
    <div class="text-center">
        <h5>
            @Dictionary.DisplayingDataFor @Model.SelectedDate.Value.ToLongDateTimeString()
        </h5>
    </div>
}

@if (isUnlimited)
{
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 very-small-energy">
            @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Epoch)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.GlobalCycleEnergies.Epoch,
                PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Epoch
            })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 very-small-energy">
            @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Generation)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.GlobalCycleEnergies.Generation,
                PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Generation
            })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 medium-energy">
            @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.GlobalCycleEnergies.Month,
                PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Month
            })
        </div>
        <div class="col-sm-4">
            @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.GlobalCycleEnergies.Year,
                PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Year
            })
        </div>
        <div class="col-sm-4 small-energy">
            @if (Model.PersonalHousesOccupiedEnergies.Day.EnergyNumber == Model.PersonalHousesOccupiedEnergies.Day2.EnergyNumber)
            {
                @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Day)
                @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
                {
                    GlobalEnergy = Model.GlobalCycleEnergies.Day,
                    PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Day
                })
            }
            else
            {
                @Html.Partial("_CycleSplitTitle", (Model.PersonalHousesOccupiedEnergies.Day, Model.PersonalHousesOccupiedEnergies.Day2))
                @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
                {
                    GlobalEnergy = Model.GlobalCycleEnergies.Day2,
                    PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Day2
                })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 very-small-energy">
            @Html.Partial("_CycleTitle", Model.PersonalHousesOccupiedEnergies.Hour)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.GlobalCycleEnergies.Hour,
                PersonalEnergy = Model.PersonalHousesOccupiedEnergies.Hour
            })
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-4">
            @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
        </div>
        <div class="col-sm-4 medium-energy">
            @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
        </div>
    </div>
}