@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

<div class="row">
    <div class="text-center">
        @Html.Partial("_SelectedDateAndPeriodTitle")
        <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
    </div>
    <div class="col-sm-4 col-sm-offset-2 margin-bottom-15">
        @if (!Model.IsCompatibility && Model.ReadingType == EReadingType.Complete)
        {
            <a href="#" id="current-yearly-cycle">
                @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
            </a>
        }
        else
        {
            @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
        }
    </div>
    <div class="col-md-4 col-sm-4 margin-bottom-15">
        @if (!Model.IsCompatibility && Model.ReadingType == EReadingType.Complete)
        {
            <a href="#" id="current-monthly-cycle">
                @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
            </a>
        }
        else
        {
            @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
        }
    </div>
</div>