@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Helpers;
@model K9.WebApplication.Models.NineStarKiModel

@{
    var cycles = Model.GetYearlyPlanner();
    var activeCycle = cycles.FirstOrDefault();
}

<div class="container main-content clear-both planner-container margin-top-5">

    @foreach (var cycle in cycles)
    {
        var year = cycle.Item1;
        var energy = cycle.Item2;
        var isAfterChineseNewYear = DateTime.Today.Month >= 3 || DateTime.Today.Month == 2 && DateTime.Today.Day >= 4;
        var isCurrentYear = isAfterChineseNewYear ? year == DateTime.Today.Year : year == DateTime.Today.Year - 1;
        var activeClass = isCurrentYear ? "active current-year" : string.Empty;

        if (isCurrentYear)
        {
            activeCycle = cycle;
        }

        <a class="planner-item" data-energy="@energy.Energy" data-type="year">
            <div class="planner-item-container row @activeClass">
                <div class="col-xs-2">
                    @Html.Partial("_Year", $"{year} - {year + 1}")
                </div>
                <div class="col-sm-2 col-xs-3">
                    <div class="ninestar-summary-container margin-left-10-xs">
                        <img loading="lazy" title="@energy.EnergyName" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @energy.EnergyName" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ninestar/energies/@(energy.Energy.ToString().ToLower()).png" />
                    </div>
                </div>
                <div class="col-xs-2 hidden-xs">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Energy</h3>
                        <p>@energy.EnergyName</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Season</h3>
                        <p>@energy.SeasonDescription</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@K9.Base.Globalisation.Dictionary.DescriptionLabel</h3>
                        <p>
                            @energy.CycleDescriptiveName
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>

<hr />

<div id="yearly-planner-details">
    @Html.Panel(activeCycle.Item2.CycleDescriptiveName, activeCycle.Item2.CycleDescription)
</div>
