@model K9.WebApplication.ViewModels.NineStarKiSummaryViewModel
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.PredictionsTitle;
    ViewBag.SubTitle = Dictionary.PredictionsTitle;
    ViewBag.Keywords = Dictionary.PredictionsKeywords;
    ViewBag.MetaDescription = Dictionary.PredictionsMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel(Dictionary.YearlyCycles, Dictionary.year_description, "yearly-cycles")

        @Html.Panel(Dictionary.NineYearlyCyclesTitle, Html.Partial("_YearlyCyclesOverview", Model.MainEnergies).ToString(), "nine-yearly-cycles")

        @Html.Panel(Dictionary.MonthlyCycles, Dictionary.month_description, "monthly-cycles")

        @Html.Panel(Dictionary.NineMonthlyCyclesTitle, $"<h4>{Dictionary.ComingSoon}</h4>", "nine-monthly-cycles")
    </article>

    <br />

    @Html.BootstrapActionLinkButton(Dictionary.PersonalProfileCalculator, "Index", "NineStarKi")

    @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, null, EButtonClass.Info)
</div>