@model K9.WebApplication.ViewModels.PredictionsViewModel
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.ViewModels

@{
    ViewBag.Title = Dictionary.PredictionsTitle;
    ViewBag.SubTitle = Dictionary.YearlyAndMonthlyCycles;
    ViewBag.Keywords = Dictionary.PredictionsKeywords;
    ViewBag.MetaDescription = Dictionary.PredictionsMetaDescription;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <div class="row">
        <div class="col-md-3 col-sm-3 padding-0">
            @Html.Action("_CalculatorForm")
        </div>
        <div class="col-md-9 col-sm-9 padding-left-20-desktop padding-right-0 mobile panel-margin-top-20">
            @if (Model != null && Model.NineStarKiModel.IsProcessed)
            {
                <div class="energy-summary-container">
                    @Html.Panel(Dictionary.PredictionsOverview, Html.Partial("_PersonalCycles", Model.NineStarKiModel).ToString())
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 padding-0">
            <article>
                @if (Model != null && Model.NineStarKiModel.IsProcessed)
                {
                    <div class="margin-top-20">
                        @Html.Panel(Dictionary.PredictionsDetails, Html.Partial("_CyclesPills", Model.NineStarKiModel).ToString())
                    </div>
                }
                else
                {
                    @Html.Panel(Dictionary.YearlyCycles, Dictionary.year_description, "yearly-cycles")

                    @Html.Panel(Dictionary.MonthlyCycles, Dictionary.month_description, "monthly-cycles")

                    using (Html.PayWall(ESection.Predictions, Model))
                    {
                        @Html.CollapsiblePanel(Dictionary.NineYearlyCyclesTitle, Html.Partial("_YearlyCyclesOverview", Model.NineStarKiSummaryViewModel.MainEnergies).ToString(), false, "", "nine-yearly-cycles")

                        <br />

                        @Html.CollapsiblePanel(Dictionary.NineMonthlyCyclesTitle, Html.Partial("_MonthlyCyclesOverview", Model.NineStarKiSummaryViewModel.CharacterEnergies).ToString(), false, "", "nine-monthly-cycles")
                    }

                    <hr />
                    @Html.Partial("_ButtonsFooter", Model.NineStarKiModel)
                }
            </article>
        </div>
    </div>
</div>

@Html.Partial("_CyclesJs")

