@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.RelationshipsTitle;
    ViewBag.SubTitle = Dictionary.RelationshipsTitle;
    ViewBag.Keywords = Dictionary.RelationshipsMetaDescription;
    ViewBag.MetaDescription = Dictionary.RelationshipsMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel("9 Star Ki and Relationships", TemplateProcessor.PopulateTemplate(Dictionary.relationships_description, new
        {
            ChartLink = Url.ActionWithBookmark("Compatibility", "Relationships", "relationships"),
        }), "relationships")

        @Html.Panel("The 5 Transformations", TemplateProcessor.PopulateTemplate(Dictionary.five_transformations, new
        {
            ChartLink = Url.ActionWithBookmark("Compatibility", "Relationships", "relationships"),
        }), "transformations")

        @Html.Panel("9 Star Ki and Sexuality", TemplateProcessor.PopulateTemplate(Dictionary.sexuality, new
        {
            AboutTitle = Dictionary.AboutNineStarKi,
            AboutLink = Url.ActionWithBookmark("About", "Home", "yinyang"),
            ChartLink = Url.ActionWithBookmark("About", "Home", "chart"),
        }), "sexuality")
    </article>

    <br />

    @Html.BootstrapActionLinkButton(Dictionary.RelationshipCompatibilityCalculator, "Compatibility", "Relationships")
</div>

