@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Options
@using K9.WebApplication.ViewModels
@model K9.WebApplication.ViewModels.MyAccountViewModel

@Html.PopupAlert()

@using (Html.BeginForm("UpdateAccount", "Account"))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.User.Id)
        @Html.HiddenFor(model => model.UserInfo.Id)
        @Html.HiddenFor(model => model.User.Username)
        @Html.HiddenFor(model => model.User.Name)
        @Html.HiddenFor(model => model.User.EmailAddress)
        @Html.HiddenFor(model => model.User.BirthDate)
        @Html.Hidden("User.Password", "th1515n0tmypa55w0rd")

        @Html.HiddenFor(model => model.UserInfo.AvatarImageUrl)

        <div class="row">
            <div class="col-sm-12">
                @Html.BootstrapDisplayFor(model => model.Membership.AccountNumber)
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.FirstName)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.LastName)</div>
        </div>
        <div class="row">
            <div class="col-sm-6">@Html.BootstrapDisplayFor(model => model.User.BirthDate)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.UserInfo.TimeOfBirth)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.UserInfo.BirthTimeZoneId)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.Gender)</div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.BootstrapEditorFor(model => model.User.PhoneNumber)
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.BootstrapDisplayFor(model => model.UserInfo.AvatarImageUrl)
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group margin-bottom-0">
                    @Html.Partial("../Shared/Controls/_DynamicFields", new MyAccountDynamicFieldsViewModel(Model.UserInfo.Id, Model.UserInfo.AvatarImageUrl)
                </div>
                <hr />
            </div>
        </div>

        <div class="row small-print">
            <div class="col-sm-12">@Html.BootstrapEditorFor(model => model.AllowMarketingEmails)</div>
        </div>

        <div class="row">
            @if (!Model.Membership.IsUnlimited())
            {
                <div class="col-sm-12">
                    <hr />
                    @Html.BootstrapEditorFor(model => model.PromoCode)
                    <hr />
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <hr class="margin-top-15" />
                </div>
            }
        </div>

        @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Update, EButtonType.Submit, "fa-save", EButtonClass.Large)
        <span class="margin-right-2"></span>
        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.DeleteMyAccount, "ConfirmDeleteAccount", "Account", new { id = Model.User.Id }, "fa-trash-alt", EButtonClass.Danger, EButtonClass.Large)
        <hr />

        if (!Model.User.IsOAuth)
        {
            @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.ChangePassword, "UpdatePassword", "Account", null, "", EButtonClass.Large)
        }

        <span></span>

        @Html.BootstrapActionLinkButton(Dictionary.MyPersonalProfile, "MyProfile", "PersonalChart", null, "fa fa-yin-yang", EButtonClass.Large)
    }
}

<script>

    // 🔁 When image is selected
    document.addEventListener('imageSelected', function (e) {
        $("#UserInfo_AvatarImageUrl").val(e.detail.src);
    });

</script>