@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Options
@model UserAccount.LoginModel
@using (Html.BeginForm())
{
	using (Html.BeginBootstrapForm())
	{
	@Html.EditorFor(model => model.UserName, new EditorOptions { InputSize = EInputSize.Small, PlaceHolder = "simon" })
	@Html.EditorFor(model => model.Password, new EditorOptions { PlaceHolder = "Enter your password..." })
	<span class="help-block">@Html.ActionLink(Dictionary.ResetPassword, "PasswordResetRequest")|@Html.ActionLink(Dictionary.Register, "Register")</span>
	@Html.EditorFor(model => model.RememberMe)
	@Html.BootstrapButton(Dictionary.LogIn)
	}
}