@using K9.WebApplication.Helpers
@model UserAccount.LoginModel

@using (Html.BeginForm())
{
	using (Html.BeginBootstrapForm())
	{
	@Html.EditorFor(model => model.UserName)
	@Html.EditorFor(model => model.Password)
	<span class="help-block">@Html.ActionLink(Dictionary.ResetPassword, "PasswordResetRequest")
		| @Html.ActionLink(Dictionary.Register, "Register")</span>
	@Html.EditorFor(model => model.RememberMe)
	@Html.BootstrapButton(Dictionary.LogIn)
	}
}
