@using K9.WebApplication.Extensions
@model UserAccount.LoginModel
@using (Html.BeginForm())
{
	using (Html.BeginBootstrapForm())
	{
		@Html.EditorFor(model => model.UserName)
		@Html.EditorFor(model => model.Password)
		@Html.EditorFor(model => model.RememberMe)
		@Html.BootstrapButton(Dictionary.LogIn)

		<div>
			@Dictionary.ForgottenPasswordQuestion @Html.ActionLink(Dictionary.ResetPassword, "PasswordResetRequest")
			@Html.ActionLink(Dictionary.Register, "Register") @Dictionary.IfNoAccount
		</div>
	}
}