@model PasswordResetRequestModel

@using (Html.BeginAjaxFormEx("#resetPasswordForm"))
 {
	@Html.AntiForgeryToken()
	<fieldset>
		<legend>@Dictionary.PasswordResetRequestTitle</legend>
		@using (Html.BeginFieldsetGroup())
  {
			<div class="editor-label">
				@Html.LabelFor(model => model.EmailAddress)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.EmailAddress, ControlAttribute.Email)
			</div>
			<input type="submit" value="@Dictionary.ResetPassword" />
		}
    </fieldset>
	@Html.ValidationSummary(true)
 }