@model RegisterModel

@using (Html.BeginAjaxFormEx("#formContainer"))
{
	@Html.AntiForgeryToken()
	<fieldset>
		<legend>@Dictionary.RegistrationForm</legend>
		@using (Html.BeginFieldsetGroup())
		{
			<div class="editor-label">
				@Html.LabelFor(model => model.UserName)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.UserName)
				@Html.ValidationMessageFor(model => model.UserName)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Password)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.Password)
				@Html.ValidationMessageFor(model => model.Password)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.ConfirmPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.ConfirmPassword)
				@Html.ValidationMessageFor(model => model.ConfirmPassword)
			</div>
		}
		@using (Html.BeginFieldsetGroup())
		{
			<div class="editor-label">
				@Html.LabelFor(model => model.Firstame)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.Firstame, ControlAttribute.Capitalize)
				@Html.ValidationMessageFor(model => model.Firstame)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.LastName)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.LastName, ControlAttribute.Capitalize)
				@Html.ValidationMessageFor(model => model.LastName)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.EmailAddress)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.EmailAddress, ControlAttribute.Email)
				@Html.ValidationMessageFor(model => model.EmailAddress)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.PhoneNumber)
			</div>
			<div class="editor-field">
				@Html.KendoTextBoxFor(model => model.PhoneNumber)
				@Html.ValidationMessageFor(model => model.PhoneNumber)
			</div>
		}
		@Html.ValidationSummary(true)
		<input type="submit" value="@Dictionary.Register" />
	</fieldset>
}