@model K9.DataAccessLayer.LocalPasswordModel

<p>
    @Dictionary.NoLocalPasswordError
</p>

@using (Html.BeginAjaxFormEx("#manageForm", "Manage", "Account")) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@Dictionary.SetPasswordForm</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@Dictionary.SetPassword" />
		@Html.ValidationSummary(true)
    </fieldset>
}
