@model UserAccount.RegisterExternalLoginModel
@{
	ViewBag.Title = @Dictionary.Register;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@String.Format(Dictionary.AssociateAccount, @ViewBag.ProviderDisplayName)</h2>
</hgroup>
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>@Dictionary.AssociationForm</legend>
		<p>
			@MvcHtmlString.Create(String.Format(Dictionary.AuthenticationSuccessful, ViewBag.ProviderDisplayName))
		</p>
		<ol>
			<li class="name">
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName)
				@Html.ValidationMessageFor(m => m.UserName)
			</li>
		</ol>
		@Html.HiddenFor(m => m.EmailAddress)
		@Html.HiddenFor(m => m.ExternalLoginData)
		<input type="submit" value="@Dictionary.Register" />
	</fieldset>
}
