@model User
@{
	ViewBag.Title = Dictionary.MyAccountTitle;
	ViewBag.SubTitle = Dictionary.UpdateYourDetails;
	Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";
}

@Html.PopupAlert()

@using (Html.BeginForm("UpdateAccount", "Account"))
{
	using (Html.BeginBootstrapForm())
	{
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.Username)
		@Html.HiddenFor(model => model.EmailAddress)
		@Html.BootstrapEditorFor(model => model.FirstName)
		@Html.BootstrapEditorFor(model => model.LastName)
		@Html.BootstrapEditorFor(model => model.PhoneNumber)
		@Html.BootstrapEditorFor(model => model.BirthDate)
		<span>@Html.ActionLink(Dictionary.ChangePassword, "UpdatePassword")</span>
		<hr/>
		@Html.BootstrapButton(Dictionary.Update)
	}
}