@using Dictionary = K9.Base.Globalisation.Dictionary
@model K9.WebApplication.ViewModels.QuickRegisterViewModel

@{
    ViewBag.Title = Dictionary.Registration;
    ViewBag.SubTitle = Dictionary.Register;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        @Html.BootstrapEditorFor(model => model.RegisterModel.EmailAddress)
        @Html.BootstrapEditorFor(model => model.RegisterModel.Password)
        @Html.BootstrapEditorFor(model => model.PromoCode)
        
        <hr />
        <div id="recaptcha-container">
        </div>
        <br />
        <div id="recaptcha-buttons-container">
            @Html.BootstrapButton(Dictionary.Register, EButtonType.Submit, "", EButtonClass.Large)
            @*@Html.BootstrapActionLinkButton(Dictionary.SignInWithFacebook, "Facebook", "Account", null, "fao fa-facebook", EButtonClass.Large)*@
        </div>
    }
}

@Html.Partial("_Recaptcha")

<script language="javascript">
    
    $("#RegisterModel_EmailAddress").change(function() {
        var emailAddress = $(this).val();
        ajaxcontroller().get("@Url.Action("IsEmailAddressAvailable")", { emailAddress }).done(
            function(result) {
                if (result.success && result.data) {
                    $.fn.displayValidationWarningFor("RegisterModel.EmailAddress", "@Dictionary.EmailIsUnavailableError");
                } else {
                    $.fn.hideValidationWarningFor("RegisterModel.EmailAddress");
                }
            });
    });

    $(function () {
        setTimeout(function () {
            $("#RegisterModel_EmailAddress").focus();
        },
            333);
    })

</script>
