@using Dictionary = K9.Base.Globalisation.Dictionary
@model K9.WebApplication.ViewModels.RegisterViewModel

@{
    ViewBag.Title = Dictionary.Registration;
    ViewBag.SubTitle = Dictionary.PersonalInformation;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

<article>
    @using (Html.BeginForm())
    {
        using (Html.BeginBootstrapForm())
        {
            @Html.HiddenFor(model => model.RegisterModel.EmailAddress)
            @Html.HiddenFor(model => model.RegisterModel.Password)
            @Html.HiddenFor(model => model.RegisterModel.ConfirmPassword)
            @Html.HiddenFor(model => model.PromoCode)

            @Html.BootstrapDisplayFor(model => model.RegisterModel.EmailAddress)

            @Html.BootstrapEditorFor(model => model.RegisterModel.UserName)

            <hr />

            <h5 class="form-subtitle margin-top-0">@K9.Globalisation.Dictionary.PleaseEnterPersonalDetails</h5>

            <div class="row">
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.RegisterModel.FirstName)</div>
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.RegisterModel.LastName)</div>
            </div>

            <div class="row">
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.RegisterModel.BirthDate)</div>
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.UserInfo.TimeOfBirth)</div>
            </div>
            <div class="row">
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.UserInfo.BirthTimeZoneId)</div>
                <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.RegisterModel.Gender)</div>
            </div>

            <div class="small-print">
                @Html.BootstrapEditorFor(e => e.AllowMarketingEmails)
            </div>

            <hr class="margin-top-5" />

            <div id="recaptcha-container">
            </div>
            <br />
            <div id="recaptcha-buttons-container">
                @Html.BootstrapButton(K9.Globalisation.Dictionary.Continue, EButtonType.Submit, "fa fa-chevron-right", EButtonClass.Large)
                @*@Html.BootstrapActionLinkButton(Dictionary.SignInWithFacebook, "Facebook", "Account", null, "fao fa-facebook", EButtonClass.Large)*@
            </div>
        }
    }
</article>

@Html.Partial("_Recaptcha")

<script language="javascript">

    $("#RegisterModel_UserName").change(function() {
        var username = $(this).val();
        ajaxcontroller().get("@Url.Action("IsUserNameAvailable")", { username }).done(
            function(result) {
                if (result.success && result.data) {
                    $.fn.hideValidationWarningFor("RegisterModel.UserName");
                } else {
                    $.fn.displayValidationWarningFor("RegisterModel.UserName", "@Dictionary.UsernameIsUnavailableError");
                }
            });
    });

    $(function() {
        setTimeout(function() {
                $("#RegisterModel_UserName").focus();
            },
            333);
    })

</script>
