@using K9.WebApplication.Config
@model AlertOptions

<div class="text-center">
    @if (Model.AlertType != EAlertType.Unspecified)
    {
        if (Model.AlertType == EAlertType.Fail)
        {
            <img loading="lazy" alt="@Model.AlertType.ToString()" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/fail.gif" />
        }
        else
        {
            <img class="margin-bottom-20" loading="lazy" alt="@Model.AlertType.ToString()" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/@Model.GetAlertImage().ToLower()" />
        }
    }

    <h2 class="margin-top-0 margin-bottom-30 alert-message">
        <strong>@MvcHtmlString.Create(@Model.Message)</strong>
    </h2>

    @if (!string.IsNullOrEmpty(Model.OtherMessage))
    {
        <p>@MvcHtmlString.Create(@Model.OtherMessage)</p>
    }
</div>  
