@model AlertOptions

<h3>
	@MvcHtmlString.Create(@Model.Message)
</h3>

@if (!string.IsNullOrEmpty(Model.OtherMessage))
{
	<p>
		@MvcHtmlString.Create(@Model.OtherMessage)
	</p>
}

@if (Model.AlertType != EAlertType.Unspecified)
{
	<img alt="@Model.AlertType.ToString()" src="~/Images/ui/@Model.GetAlertImage()" />
}