@using K9.Base.WebApplication.Config
@using K9.SharedLibrary.Helpers

@{
    var termsText = TemplateProcessor.PopulateTemplate(K9.Globalisation.Dictionary.AgreeToTerms, new
    {
        privacypolicyurl = Url.Action("PrivacyPolicy", "Home")
    });
}

<div class="footer main-section">
	<div class="container">
		<div class="agile-footer-grids">
			<div class="col-md-4 agile-footer-grid">
				<h4>@K9.Globalisation.Dictionary.NineStarKiTitle</h4>
				<p>
					@K9.Globalisation.Dictionary.CompanyBlurbFooter
				</p>
			</div>
			<div class="col-md-4 agile-footer-grid">
				@Html.Action("NewsSummary", "News")
			</div>
			<div class="col-md-4 agile-footer-grid">
				<h4>Navigation</h4>
			    <ul>
			        <li class="text"><a href="@Url.Action("Index", "NineStarKi")"> @K9.Globalisation.Dictionary.Calculator</a></li>
			        <li class="text"><a href="@Url.Action("Relationships", "NineStarKi")"> @K9.Globalisation.Dictionary.Relationships</a></li>
			        <li class="text"><a href="@Url.Action("Index", "Home")"> @Dictionary.Home</a></li>
                    <li class="text"><a href="@Url.Action("Predictions", "NineStarKi")"> @K9.Globalisation.Dictionary.Predictions</a></li>
			        <li class="text"><a href="@Url.Action("About", "Home")"> @K9.Globalisation.Dictionary.LearnNineStarKiTitle</a></li>
			    </ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
	    <p>@Html.Raw(termsText) </p>
        <p>&copy; @WebsiteConfiguration.Instance.CompanyName @DateTime.Now.Year - @Dictionary.AllRightsReserved.</p>
	</div>
</div>