@using K9.WebApplication.Config
<div class="footer">
	<div class="container">
		<div class="agile-footer-grids">
			<div class="col-md-4 agile-footer-grid">
				<h4>History of Us</h4>
				<p>Pellentesque urna ex, ultricies a nunc at, pretium maximus nisi. Vestibulum non auctor diam. Mauris eget consectetur mauris. <span>Aenean leo elit, accumsan vel elit vitae, mattis ultricies lacus. Cras consectetur justo lorem, sed dictum sapien eleifend at.</span></p>
			</div>
			<div class="col-md-4 agile-footer-grid">
				<h4>Twitter Posts</h4>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://example.com</a> alias, ut aut reiciendis.
						<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://mail.com</a> ut aut
						voluptatibus.<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-2 agile-footer-grid">
				<h4>Events</h4>
				<ul>
					<li>12th Aug <a href="single.html">Curabitur</a></li>
					<li>10th Sept <a href="single.html">Fusce urna</a></li>
					<li>24th Sept <a href="single.html">Praesent</a></li>
					<li>17th Oct <a href="single.html">Malesuada </a></li>
					<li>09th Dec <a href="single.html">Cum sociis</a></li>
				</ul>
			</div>
			<div class="col-md-2 agile-footer-grid">
				<h4>Navigation</h4>
				<ul>
					<li class="text"><a href="index.html">Home</a></li>
					<li class="text"><a href="about.html">About</a></li>
					<li class="text"><a href="icons.html">Icons</a></li>
					<li class="text"><a href="codes.html">Typography</a></li>
					<li class="text"><a href="gallery.html">Gallery</a></li>
					<li class="text"><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="agileits-w3layouts-copyright">
	<div class="container">
		<p>@Dictionary.CompanyLegalDescription</p>
		<p>@Dictionary.AgreeToTerms &copy; @DateTime.Now.Year - @WebsiteConfiguration.Instance.CompanyName. @Dictionary.AllRightsReserved.</p>
	</div>
</div>