@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Helpers

@{
    var roles = this.GetRoles();
}
<div id="account-header">
    <div id="account-controls">
        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav">
                        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<ArchiveItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "ArchiveItems") sub-item"><a href="@Url.Action("Index", "ArchiveItems")">@Dictionary.ArchiveItems</a></li>
                        }
                        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<ArchiveItemCategory>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "ArchiveCategories") sub-item"><a href="@Url.Action("Index", "ArchiveCategories")">@Dictionary.ArchiveCategories</a></li>
                        }
                        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<Donation>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "Donations") sub-item"><a href="@Url.Action("Index", "Donations")">@K9.Globalisation.Dictionary.Donations</a></li>
                        }
                        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "NewsItems") sub-item"><a href="@Url.Action("Index", "NewsItems")">@Dictionary.NewsItems</a></li>
                        }
                        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators))
                        {
                            <li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@Dictionary.Roles</a></li>
                            <li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@Dictionary.Role @Dictionary.Permissions</a></li>
                            <li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@Dictionary.Users</a></li>
                            <li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@Dictionary.UserRoles</a></li>
                        }
                    </ul>
                </li>
            </ul>
        }
        <ul class="site-controls">
            <li class="@ViewContext.GetActiveClass("DonateStart", "Support")"><a title="@K9.Globalisation.Dictionary.Donate" href="@Url.Action("DonateStart", "Support")"><span class="glyphicon glyphicon-euro"></span><span class="site-controls-text"> @K9.Globalisation.Dictionary.Donate</span></a></li>
            @Html.LoginLogout()
            @if (WebSecurity.IsAuthenticated)
            {
                <li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a title="@Dictionary.MyAccountTitle" href="@Url.Action("MyAccount", "Account")"><span class="glyphicon glyphicon-user"></span><span class="site-controls-text"> @Dictionary.MyAccountTitle</span></a></li>
            }
            <li class="@ViewContext.GetActiveClass("Index", "Support")"><a title="@K9.Globalisation.Dictionary.Support" href="@Url.Action("Index", "Support")"><span class="glyphicon glyphicon-question-sign"></span><span class="site-controls-text"> @K9.Globalisation.Dictionary.Support</span></a></li>
            @*@Html.Partial("Controls/_LanguageSelector")*@
        </ul>
    </div>
</div>
<div id="main-logo-container" class="menu-main">
    <a class="@ViewContext.GetActiveClass("Index", "Home")" href="@Url.Action("Index", "Home")"><div class="main-logo default-logo"></div></a>
</div>
<div id="main-menu-container" class="menu-main">
    <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse menu-main" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav main-navbar">
                        <li class="@ViewContext.GetActiveClass("Index", "NineStar")"><a href="@Url.Action("Index", "NineStar")"> @K9.Globalisation.Dictionary.Calculator</a></li>
                        <li class="@ViewContext.GetActiveClass("Relationships", "NineStar")"><a href="@Url.Action("Relationships", "NineStar")"> @K9.Globalisation.Dictionary.Relationships</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Home")"><a class="device-only" href="@Url.Action("Index", "Home")"> <span class="device-only">@Dictionary.Home</span></a></li>
                        <li class="@ViewContext.GetActiveClass("Predictions", "NineStar")"><a href="@Url.Action("Predictions", "NineStar")"> @K9.Globalisation.Dictionary.Predictions</a></li>
                        <li class="@ViewContext.GetActiveClass("About", "Home")">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @K9.Globalisation.Dictionary.Learn</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.Action("About", "Home")"> @K9.Globalisation.Dictionary.AboutNineStarKi</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "origins")"> @K9.Globalisation.Dictionary.OriginsTitle</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "cycles")"> @K9.Globalisation.Dictionary.CyclesTitle</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "yinyang")"> @K9.Globalisation.Dictionary.YinAndYang</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "modalities")"> @K9.Globalisation.Dictionary.ThreeModalitiesTitle</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "elements")"> @K9.Globalisation.Dictionary.FiveElementsTitle</a></li>
                                <li class="device-only @ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "fire")"> @K9.Globalisation.Dictionary.FireElement</a></li>
                                <li class="device-only @ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "earth")"> @K9.Globalisation.Dictionary.EarthElement</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "chart")"> @K9.Globalisation.Dictionary.PersonalProfileTitle</a></li>
                                <li class="@ViewContext.GetActiveClass("About", "Home")"><a href="@Url.ActionWithBookmark("About", "Home", "energies")"> @K9.Globalisation.Dictionary.NineEnergiesTitle</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="main-menu-spacer">
    &nbsp;
</div>