@using K9.WebApplication.Config
@using K9.WebApplication.Extensions
<div class="header">
	<div class="container">
		<div class="header-left">
			<div class="page-title">
				<h1>
					<a href="~/">@Dictionary.Blessings <span>@Dictionary.OfTheForest</span></a>
				</h1>
			</div>
		</div>
		<div class="header-right">
			<ul class="nav navbar-nav navbar-right navbar-login">
				@Html.LoginLogout()
				@if (WebSecurity.IsAuthenticated)
				{
					<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("MyAccount", "Account")"><span class="glyphicon glyphicon-user"></span> @Dictionary.MyAccountTitle</a></li>
				}
			</ul>
		</div>
		<div class="clearfix">
		</div>
	</div>
</div>
<div class="header-bottom">
	<div class="container">
		<div class="top-nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="@ViewContext.GetActiveClass("OurMission", "AboutUs")"><a href="@Url.Action("OurMission", "AboutUs")"> @Dictionary.OurMission</a></li>
						<li class="@ViewContext.GetActiveClass("Indes", "Iboga")"><a href="@Url.Action("Index", "Iboga")"> @Dictionary.Iboga</a></li>
						<li class="@ViewContext.GetActiveClass("HelpUs", "AboutUs")"><a href="@Url.Action("HelpUs", "AboutUs")"> @Dictionary.HelpUs</a></li>
						<li class="@ViewContext.GetActiveClass("Index", "News")"><a href="@Url.Action("Index", "News")"> @Dictionary.News</a></li>
						<li class="@ViewContext.GetActiveClass("Index", "Archive")"><a href="@Url.Action("Index", "Archive")"> @Dictionary.Archive</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</nav>
		</div>
		<div class="main-heading page-subtitle">
			@if (!string.IsNullOrEmpty(ViewBag.MainHeading))
			{
				<h3 class="text-white">@ViewBag.MainHeading</h3>
			}
		</div>	
	</div>
</div>