@using K9.SharedLibrary.Helpers.Html
@using K9.WebApplication.Options
@model Article

<div class="blog-card">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="@Url.Action("Details", "Blog", new { id = Model.Id, slug = Model.Slug })">@Model.Title</a></h4>
            <div class="text-muted published-info margin-bottom-20">
                <small>@Html.Raw(Model.PublishedByText)</small>
            </div>

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                var isAbsolute = Model.ImageUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase);
                var src = isAbsolute ? Model.ImageUrl : Url.Content("~/" + Model.ImageUrl.TrimStart('~', '/'));

                <a href="@Url.Action("Details", "Blog", new { id = Model.Id })">
                    <img src="@src"
                         alt="@Model.Title"
                         class="img-responsive img-thumbnail blog-thumbnail" />
                </a>
            }

            <p class="blog-summary">@Model.Summary</p>

            <p>
                @foreach (var tag in Model.Tags)
                {
                    @Html.Partial("_BlogTag", tag)
                }
            </p>

            <p class="text-center">
                <a href="@Url.Action("Details", "Blog", new { id = Model.Id, slug = Model.Slug })" class="read-more">@Dictionary.ReadMore</a>
            </p>
        </div>
    </div>
</div>
