@using K9.SharedLibrary.Helpers.Html
@using K9.WebApplication.Options
@model ArticleComment

@{
    var commentWasMade = TempData.Peek("IsSuccess") != null;
    var focusInputClass = commentWasMade ? "" : "no-focus";
}

@if (WebSecurity.IsAuthenticated)
{
    <div id="comment-form">
        @using (Html.BeginForm("PostComment", null, FormMethod.Post, new { @class = focusInputClass }))
        {
            using (Html.BeginBootstrapForm())
            {
                @Html.HiddenFor(model => model.ArticleId)

                <div class="blog-comment-container">
                    @Html.BootstrapEditorFor(e => e.Comment, new EditorOptions
                    {
                        PlaceHolder = Dictionary.WriteComment,
                        Label = ""
                    })
                </div>

                <small id="commentCounter" class="text-muted pull-right">0 / 500</small>

                @Html.BootstrapButton(K9.Globalisation.Dictionary.PostComment, EButtonType.Submit, "fa-comment")
            }
        }
    </div>
}
else
{
    <p class="text-muted"><a href="@Url.Action("Login", "Account", new { returnUrl = Url.Action("View", new {id = Model.ArticleId})})">@Dictionary.SignInTo</a> @Dictionary.LeaveComment</p>
}

<div class="margin-bottom-10">
    @if (TempData["IsError"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"].ToString()</div>
    }
    else if (TempData["IsSuccess"] != null)
    {
        <div class="alert alert-success">@K9.Globalisation.Dictionary.CommentSubmitted</div>
    }
</div>

<script>
    $(function () {
        const $textarea = $('textarea[name="Comment"]');
        const $counter = $('#commentCounter');
        const maxLength = parseInt($textarea.attr('maxlength')) || 500;

        function updateCounter() {
            const len = $textarea.val().length;
            $counter.text(`${len} / ${maxLength}`);

            if (len >= maxLength) {
                $counter.addClass('text-danger');
            } else {
                $counter.removeClass('text-danger');
            }
        }

        $textarea.on('input', updateCounter);
        updateCounter(); // initialize
    });
</script>
