@using K9.SharedLibrary.Extensions
@using K9.SharedLibrary.Helpers.Html
@model Article

@{
    ViewBag.Title = Model.Title;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.MetaDescription = Model.Summary;
    ViewBag.PageUrl = Url.AbsoluteAction("Details", "Blog", new { id = Model.Id, slug = Model.Slug });
    ViewBag.PageType = "article";
    ViewBag.PageImage = Model.ImageUrl;
}

<div class="container main-content article-container">
    <article class="margin-bottom-0">
        <div class="well padding-left-0 padding-right-0 margin-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center margin-0"><strong>@Model.Title</strong></h1>

                    <div class="text-muted text-center published-info">
                        <small>@Html.Raw(Model.PublishedByText)</small>
                    </div>

                    <div class="text-center blog-post-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            @Html.Partial("_BlogTag", tag)
                        }
                    </div>

                    <hr class="margin-bottom-26" style="margin-bottom: 26px;" />

                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="@Model.Title" class="featured-image" />
                    }

                    <div class="article-body">
                        @Html.Raw(Model.HtmlBody)
                    </div>

                    <hr />

                    @Html.Partial("_CommentForm", new ArticleComment { ArticleId = Model.Id })

                    @Html.Partial("_BlogComments", Model)

                    <hr />

                    @Html.BootstrapBackToListButton()
                </div>
            </div>
        </div>
    </article>
</div>