@using K9.SharedLibrary.Helpers.Html
@model Article

@{
    ViewBag.Title = Model.Title;    
    Layout = "../Shared/_LayoutForm.cshtml";
}

<div class="container main-content article-container">
    <article class="margin-bottom-0">
        <div class="well padding-left-0 padding-right-0 margin-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="margin-0"><strong>@Model.Title</strong></h4>

                    <p class="text-muted">
                        <small>@Dictionary.Published: @Model.PublishedOnText</small>
                    </p>

                    <div>
                        @foreach (var tag in Model.Tags)
                        {
                            <span class="label label-info" style="margin-right: 5px;">#@tag.Name</span>
                        }
                    </div>

                    <hr />
                    
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="@Model.Title" class="featured-image" />
                    }

                    <div class="article-body">
                        @Html.Raw(Model.HtmlBody)
                    </div>

                    <hr />

                    @Html.BootstrapBackToListButton()
                </div>
            </div>
        </div>
    </article>
</div>