@using System.Globalization
@using K9.SharedLibrary.Extensions
@model IDataTableOptions

<script type="text/javascript">

	function @Model.GetButtonRenderFunction() (data) {
		var buttons = "";
		if (@Model.AllowDetail.ToString().ToLower()) {
			buttons += '<a href="@Url.Action("Details")/' + data.Id + '" class="btn btn-info">@Dictionary.Details</a>';
		}
		if (@Model.AllowEdit.ToString().ToLower()) {
			buttons += '<a href="@Url.Action("Edit")/' + data.Id + '" class="btn btn-primary"><i class="fa fa-pencil"></i> @Dictionary.Edit</a>';
		}
		if (@Model.AllowDelete.ToString().ToLower()) {
			buttons += '<a href="@Url.Action("Delete")/' + data.Id + '" class="btn btn-danger"><i class="fa fa-trash"></i> @Dictionary.Delete</a>';
		}
		return buttons == "" ? null : buttons;
	};

	function getColumnDefs() {
		var columnDefs = @Model.GetColumnDefsJson();
		if (@Model.AllowCrud().ToString().ToLower()) {
			columnDefs.push({
				data: null,
				targets: [@Model.GetColumnInfos().Count],
				render: @Model.GetButtonRenderFunction()
			});
		}		
		return columnDefs;
	}

	$(function() {
		var table = $("table#@Model.TableId");
		table.DataTable({
			"ajax": table.attr("data-url"),
			"columns": @Model.GetColumnsJson(),
			"columnDefs": getColumnDefs(),
			"processing": true,
			"serverSide": true,
			"stateSave": true,
			"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/@CultureInfo.CurrentUICulture.GetLocaleLanguage().json"
            }
		});
	});

</script>
