@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Enums
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.ImageListItemViewModel

<div class="image-list-item" data-selected="@Model.IsSelected.ToString().ToLower()" tabindex="0"
     data-url="@Model.ImageInfo.Src"
     data-relativepath="@Model.ImageInfo.RelativePath"
     data-placeholder="@Model.ImageInfo.GetHtmlPlaceHolder()">

    <img src="@Model.ImageInfo.Src" alt="@Model.ImageInfo.FileName" class="img-responsive" />
    <span class="filename">@Model.ImageInfo.FileName</span>

    <div class="image-actions">
        @if (Model.DynamicFieldsModel.Mode == EDynamicFieldsMode.Advanced)
        {
            <div class="advanced">
                <button type="button" class="btn btn-xs btn-link copy-url" title="@Dictionary.CopyImageUrl">
                    <i class="glyphicon glyphicon-link"></i>
                </button>
                <button type="button" class="btn btn-xs btn-link copy-markup" title="@Dictionary.CopyMarkup">
                    <i class="glyphicon glyphicon-console"></i>
                </button>
            </div>
        }
        else
        {
            <div class="simple always-visible">
                <button type="button" class="btn btn-xs btn-link select-image" aria-pressed="@(Model.IsSelected.ToString().ToLower())" title="@Dictionary.SelectImage">
                    <i class="glyphicon @(Model.IsSelected ? "glyphicon-check" : "glyphicon-unchecked") check-icon"></i>
                </button>
            </div>
        }
    </div>

</div>
