@using K9.WebApplication.Enums
@using K9.WebApplication.Options
@model PanelOptions
@{
    var hasImage = !string.IsNullOrEmpty(Model.ImageSrc);
    var imageSizeClass = Model.ImageSize == EPanelImageSize.Medium
        ? "image-panel-medium"
        : Model.ImageSize == EPanelImageSize.Small
                ? "image-panel-small" : "";
    var panelBodyClass = hasImage ? "panel-body-image" : "";

    var displayNone = "display: none;";

    var panelViewClass = Model.IsDualView ? "panel-multiple-view dual-view" : Model.IsTripleView ? "panel-multiple-view triple-view" : "";

    var displayStyle1 = Model.IsDualView || Model.IsTripleView ? Model.Option1Checked ? "" : displayNone : "";
    var displayStyle2 = Model.IsDualView || Model.IsTripleView ? Model.Option2Checked ? "" : displayNone : displayNone;
    var displayStyle3 = Model.IsTripleView ? Model.Option3Checked ? "" : displayNone : displayNone;

}

@*Bookmark*@
<div id="@Model.Id" style="position: relative; top: -180px;"></div>
<div class="panel panel-default @panelViewClass" data-session-key="@Model.SessionKey" id="@Model.PanelId">
    @if (!string.IsNullOrEmpty(Model.Title) || Model.IsDualView || Model.IsTripleView)
    {
        <div class="panel-heading clearfix">

            <h4 data-value="@Model.Option1Value" class="margin-0 float-left panel-title" style="@displayStyle1"><strong>@Model.Title</strong></h4>

            @if (Model.IsDualView || Model.IsTripleView)
            {
                <h4 data-value="@Model.Option2Value" class="margin-0 float-left panel-title" style="@displayStyle2"><strong>@Model.Title2</strong></h4>

                if (Model.IsTripleView)
                {
                    <h4 data-value="@Model.Option3Value" class="margin-0 float-left panel-title" style="@displayStyle3"><strong>@Model.Title3</strong></h4>
                }
            }

            @if (Model.IsDualView || Model.IsTripleView)
            {
                <div class="float-right d-flex align-items-center panel-display-options">

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option1Id" value="@Model.Option1Value"
                               @(Model.Option1CheckedString)>
                        <label class="form-check-label" for="@Model.Option1Id">@Model.Option1Text</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option2Id" value="@Model.Option2Value"
                               @(Model.Option2CheckedString)>
                        <label class="form-check-label" for="@Model.Option2Id">@Model.Option2Text</label>
                    </div>

                    @if (Model.IsTripleView)
                    {

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option3Id" value="@Model.Option3Value"
                                   @(Model.Option3CheckedString)>
                            <label class="form-check-label" for="@Model.Option3Id">@Model.Option3Text</label>
                        </div>
                    }
                </div>
            }
        </div>
    }

    @if (hasImage)
    {
        <div class="panel-image-container">
            <div class="image-panel img-rounded @imageSizeClass" style="background-image: url('@Model.ImageSrc'); @Model.ImageLayoutCss;"></div>
        </div>
    }

    <div data-value="@Model.Option1Value" class="panel-body @panelBodyClass" style="@displayStyle1">@MvcHtmlString.Create(Model.Body)</div>
    <div data-value="@Model.Option2Value" class="panel-body @panelBodyClass" style="@displayStyle2">@MvcHtmlString.Create(Model.Body2)</div>
    <div data-value="@Model.Option3Value" class="panel-body @panelBodyClass" style="@displayStyle3">@MvcHtmlString.Create(Model.Body3)</div>
</div>