@using K9.WebApplication.Enums
@using K9.WebApplication.Options
@model PanelOptions
@{
    var hasImage = !string.IsNullOrEmpty(Model.ImageSrc);
    var imageSizeClass = Model.ImageSize == EPanelImageSize.Medium
        ? "image-panel-medium"
        : Model.ImageSize == EPanelImageSize.Small
                ? "image-panel-small" : "";
    var panelBodyClass = hasImage ? "panel-body-image" : "";

    var displayStyle1 = Model.IsDualView ?
        Model.IsGlobalSwitch ?
            Model.PanelCycleView == EPanelCycleView.PersonalView ? "" : "display: none;" :
            Model.PanelView == EPanelView.FullTextView ? "" : "display: none;" :
        "";

    var displayStyle2 = Model.IsDualView ?
        Model.IsGlobalSwitch ?
            Model.PanelCycleView == EPanelCycleView.GlobalView ? "" : "display: none;" :
            Model.PanelView == EPanelView.SummaryView ? "" : "display: none;" :
        "display: none;";
}

@*Bookmark*@
<div id="@Model.Id" style="position: relative; top: -180px;"></div>
<div class="panel panel-default" id="@Model.PanelId">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <div class="panel-heading clearfix">
            <h4 class="margin-0 float-left panel-title-one"><strong>@Model.Title</strong></h4>
            @if (Model.IsDualView)
            {
                <h4 class="margin-0 float-left panel-title-two" style="@displayStyle2"><strong>@Model.Title2</strong></h4>
                if (Model.IsGlobalSwitch)
                {
                    <div class="float-right d-flex align-items-center panel-display-options">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option1Id" value="@((int)EPanelCycleView.PersonalView)" @Model.PersonalViewChecked>
                            <label class="form-check-label" for="@Model.Option1Id">@Dictionary.PersonalView</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option2Id" value="@((int)EPanelCycleView.GlobalView)" @Model.GlobalViewChecked>
                            <label class="form-check-label" for="@Model.Option2Id">@Dictionary.GlobalView</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="float-right d-flex align-items-center panel-display-options">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option1Id" value="@((int)EPanelView.SummaryView)" @Model.SummaryChecked>
                            <label class="form-check-label" for="@Model.Option1Id">@Dictionary.SummaryView</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="@Model.UniqueRadioName" id="@Model.Option2Id" value="@((int)EPanelView.FullTextView)" @Model.FullTextChecked>
                            <label class="form-check-label" for="@Model.Option2Id">@Dictionary.FullTextView</label>
                        </div>
                    </div>
                }
            }
        </div>
    }

    @if (hasImage)
    {
        <div class="panel-image-container">
            <div class="image-panel img-rounded @imageSizeClass" style="background-image: url('@Model.ImageSrc'); @Model.ImageLayoutCss;"></div>
        </div>
    }
    <div class="panel-body panel-one @panelBodyClass" style="@displayStyle1">@MvcHtmlString.Create(Model.Body)</div>
    <div class="panel-body panel-two @panelBodyClass" style="@displayStyle2">@MvcHtmlString.Create(Model.Body2)</div>
</div>