@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
    var magicSquaresModel = Model.GetPersonalChartMagicSquares();
}

<div class="row">
    <div class="col-sm-4 medium-energy">
        <a href="#" class="scroll-to-tab" data-tab-id="daystar">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Day)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", magicSquaresModel.DayStar)
        </a>
    </div>
    <div class="col-sm-4 small-energy">
        <a href="#" class="scroll-to-tab" data-tab-id="generation">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Generation)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", magicSquaresModel.Generation)
        </a>
    </div>
    <div class="col-sm-4 very-small-energy">
        <a href="#" class="scroll-to-tab" data-tab-id="epoch">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Epoch)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", magicSquaresModel.Epoch)
        </a>
    </div>
</div>