@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

<div class="ninestar-summmary container padding-0">
    <div id="main-energy-pills">
        <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
            <li class="active">
                <a data-toggle="tab" href="#m-essence">
                    @Dictionary.Essence
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/fundamental-nature.png');"></div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#m-intellectual-qualities">
                    @Dictionary.IntellectualQualities
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/intellectual-qualities.png');"></div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#m-interpersonal-qualities">
                    @Dictionary.InterpersonalQualities
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/interpersonal-qualities.png');"></div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#m-emotional-landscape">
                    @Dictionary.EmotionalLandscape
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/emotional-energy.png');"></div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="m-essence" class="tab-pane fade in active">
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.PanelWithSummary(Model.MainEnergy.EnergyEssenceTitle, $"{ Model.MainEnergy.EnergyDescription} <hr/> {Html.Raw(Model.Overview)}", Model.MainEnergy.MainEnergySummary)
                }
            </div>

            <div id="m-intellectual-qualities" class="tab-pane fade">
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.PanelWithSummary(Model.MainEnergy.EnergyIntellectualQualitiesTitle, Model.MainEnergy.IntellectualQualities, Model.MainEnergy.IntellectualQualitiesSummary)
                }

                <br />
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="m-interpersonal-qualities" class="tab-pane fade">
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.PanelWithSummary(Model.MainEnergy.EnergyInterpersonalQualitiesTitle, Model.MainEnergy.InterpersonalQualities, Model.MainEnergy.InterpersonalQualitiesSummary)
                }

                <br />
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="m-emotional-landscape" class="tab-pane fade">
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.PanelWithSummary(Model.MainEnergy.EnergyEmotionalLandscapeTitle, Model.MainEnergy.EmotionalLandscape, Model.MainEnergy.EmotionalLandscapeSummary)
                }

                <br />
                @Html.Partial("_ButtonsFooter")
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    function scrollProfile(tab) {
        setTimeout(function () {
            $.fn.scrollToTopOf(tab, -261);
        }, 200);
    }

    $(function () {
        $("#fundamental-energy").click(function () {
            $("a[href='#fundamental']").tab("show");
            scrollProfile("#fundamental");
        });

        $("#character-energy").click(function () {
            $("a[href='#character']").tab("show");
            scrollProfile("#character");
        });

        $("#surface-energy").click(function () {
            $("a[href='#surface']").tab("show");
            scrollProfile("#surface");
        });

        $("#daystar-energy").click(function () {
            $("a[href='#daystar']").tab("show");
            scrollProfile("#daystar");
        });

        $("#generation-energy").click(function () {
            $("a[href='#generation']").tab("show");
            scrollProfile("#generation");
        });

        $("#epoch-energy").click(function () {
            $("a[href='#epoch']").tab("show");
            scrollProfile("#epoch");
        });
    });

</script>