@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.ViewModels
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
}

<div class="text-center">
    <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
</div>

<div class="row margin-0 margin-bottom-20">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0 padding-0">
        @Html.BootstrapEditorFor(e => e.EnergyDisplay, new EditorOptions
        {
            Label = ""
        })
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4 very-small-energy">
        <a href="#" id="epoch-energy">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Epoch)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.PersonalChartEnergies.Epoch,
                PersonalEnergy = Model.PersonalChartEnergies.Epoch
            })
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 very-small-energy">
        <a href="#" id="generation-energy">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Generation)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.PersonalChartEnergies.Generation,
                PersonalEnergy = Model.PersonalChartEnergies.Generation
            })
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 medium-energy">
        <a href="#" id="character-energy">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.CharacterEnergy)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.PersonalChartEnergies.Month,
                PersonalEnergy = Model.PersonalChartEnergies.Month
            })
        </a>
    </div>
    <div class="col-sm-4 @childClass">
        <div class="adult-profile">
            <a href="#" id="fundamental-energy">
                @Html.Partial("../NineStarKi/_EnergyTitle", Model.MainEnergy)
                @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
                {
                    GlobalEnergy = Model.PersonalChartEnergies.Year,
                    PersonalEnergy = Model.PersonalChartEnergies.Year
                })
            </a>
        </div>
    </div>
    <div class="col-sm-4 small-energy">
        <a href="#" id="surface-energy">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.SurfaceEnergy)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.PersonalChartEnergies.Surface,
                PersonalEnergy = Model.PersonalChartEnergies.Surface
            })
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 very-small-energy">
        <a href="#" id="daystar-energy">
            @Html.Partial("../NineStarKi/_EnergyTitle", Model.PersonalChartEnergies.Day)
            @Html.Partial("../NineStarKi/_MagicSquareDisplay", new MagicSquareViewModel
            {
                GlobalEnergy = Model.PersonalChartEnergies.Day,
                PersonalEnergy = Model.PersonalChartEnergies.Day
            })
        </a>
    </div>
</div>
@if (Model.IsShowSummary)
{
    <div class="row">
        <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
            @Html.Panel(Dictionary.SummaryLabel, Model.Summary)
        </div>
    </div>
}