@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        <div>
            <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
                <li class="active">
                    <a data-toggle="tab" href="#details">
                        @Model.MainEnergy.DescriptiveTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/energies/{Model.MainEnergy.EnergyLowerCase}.png")');"></div>
                    </a>
                </li>
                @if (Model.PersonModel.IsSixteenOrOver())
                {
                    <li>
                        <a data-toggle="tab" href="#relationships">
                            @Dictionary.Relationships
                            <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/relationships.png');"></div>
                        </a>
                    </li>
                }

                <li>
                    <a data-toggle="tab" href="#career">
                        @Dictionary.Career
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/career.png');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#finances">
                        @Dictionary.Finances
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/finances.png');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#health">
                        @Dictionary.Health
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/health.png');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#spirituality">
                        @Dictionary.Spirituality
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/spirituality.png');"></div>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div id="details" class="tab-pane fade in active">
                    @Html.Panel(Model.MainEnergy.EnergyTitle, $"{Html.Partial("_ProfileHeader", Model.MainEnergy).ToString()} " +
                                                              $"{Html.Partial("_ProfileHeaderInfo", Model.MainEnergy).ToString()} " +   
                                                              $"{Html.Partial("_MainEnergyPills").ToString()}", "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
                @if (Model.PersonModel.IsSixteenOrOver())
                {
                    <div id="relationships" class="tab-pane fade">
                        @Html.CollapsiblePanel(Dictionary.SexualityTitle, Dictionary.sexuality_description)

                        @using (Html.PayWall(ESection.Profile, Model))
                        {
                            @Html.Partial("_ProfileRelationships", Model)
                        }
                    </div>
                }

                <div id="career" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model))
                    {
                        @Html.Partial("_ProfileCareer", Model)
                    }
                </div>

                <div id="finances" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model))
                    {
                        @Html.Partial("_ProfileFinances", Model)
                    }
                </div>

                <div id="health" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model))
                    {
                        @Html.Partial("_ProfileHealth", Model)
                    }
                </div>

                <div id="spirituality" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model))
                    {
                        @Html.Partial("_ProfileSpirituality", Model)
                    }
                </div>

            </div>
        </div>
    </div>
}