@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

@{
    var yinYangUrl = Url.ActionWithBookmark("Index", "KnowledgeBase", "yinyang");
    var elementUrl = Url.ActionWithBookmark("Index", "KnowledgeBase", Model.ElementName.ToLower());
    var modalityUrl = Url.ActionWithBookmark("Index", "KnowledgeBase", Model.ModalityName.ToLower());
}

<div class="main-content clear-both ninestar-header-container margin-top-5 margin-bottom-20">
    <div class="row margin-bottom-10">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="ninestar-summary-container">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>@Dictionary.Colour</strong></td>
                                <td>@Model.MetaData.GetColour()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.Direction</strong></td>
                                <td>@Model.MetaData.GetDirection()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.FamilyMember</strong></td>
                                <td>@Model.MetaData.GetFamilyMember()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.Season</strong></td>
                                <td>@Model.SeasonDescription</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.InternalRepresentation</strong></td>
                                <td>@Model.MetaData.GetInternalRepresentation()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.Physiognomy</strong></td>
                                <td>@Model.MetaData.GetPhysiognomy()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.PrimaryAttributes</strong></td>
                                <td>@Model.MetaData.GetPrimaryAttributes()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.MostHarmoniousCombinations</strong></td>
                                <td>@Model.MetaData.GetMostHarmoniousCombinationsString()</td>
                            </tr>
                            <tr>
                                <td><strong>@Dictionary.MostChallengingCombinations</strong></td>
                                <td>@Model.MetaData.GetMostChallengingCombinationsString()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>