@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        <article>
            <div>
                <ul class="nav nav-tabs nav-justified image-pill">
                    <li class="active">
                        <a data-toggle="tab" href="#details">
                            @Model.MainEnergy.EnergyTitle
                            <div class="img-rounded image-pill" style="background-image: url('@($"../Images/ninestar/energies/{Model.MainEnergy.Energy}.png")');"></div>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#element">
                            @Model.MainEnergy.ElementTitle
                            <div class="img-rounded image-pill" style="background-image: url('@($"../Images/ninestar/elements/{Model.MainEnergy.ElementName}.png")');"></div>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#modality">
                            @Model.MainEnergy.ModalityTitle
                            <div class="img-rounded image-pill" style="background-image: url('@($"../Images/ninestar/modalities/{Model.MainEnergy.ModalityName}.png")');"></div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="details" class="tab-pane fade in active">
                        @Html.Panel("", $"{Model.MainEnergy.EnergyDescription}" +
                                        $"<h5>{Dictionary.OverviewLabel}</h5>" +
                                        $"{Model.Overview}", "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                    </div>
                    <div id="element" class="tab-pane fade">
                        @Html.Panel("", Model.MainEnergy.ElementDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                    </div>
                    <div id="modality" class="tab-pane fade">
                        @Html.Panel("", Model.MainEnergy.ModalityDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                    </div>
                </div>

                
                @*
                                 
                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.Health, Model.MainEnergy.EnergyNameAndNumber), Model.Health)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.Occupations, Model.MainEnergy.EnergyNameAndNumber), Model.Occupations)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.PersonalDevelopemnt, Model.MainEnergy.EnergyNameAndNumber), Model.PersonalDevelopemnt)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.MainEnergy.Trigram, Model.MainEnergy.EnergyNameAndNumber), Model.MainEnergy.TrigramDescription, false, "", Model.MainEnergy.TrigramUIName, $"Images/ninestar/trigrams/trigram-{Model.MainEnergy.Energy}-square.png", EPanelImageSize.Default, EPanelImageLayout.Contain)*@
            </div>
            <div>
                <br />

                @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-heart", EButtonClass.Large)

                @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

                @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
            </div>
        </article>
    </div>
}