@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        @Html.PanelWithSummary(Model.MainEnergy.EnergyHealthTitle, Model.Health, Model.MainEnergy.HealthSummary)

        @Html.Panel(Model.MainEnergy.EnergyIllnessesTitle, Model.MainEnergy.Illnesses)

        @Html.Panel(Model.MainEnergy.YinYangExpansionTitle, Model.MainEnergy.YinYangExpansionDescription)

        @Html.Panel(Dictionary.StrongOrgans, Html.Partial("_ProfileHealthStrongOrgans").ToString(), "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(Dictionary.WeakOrgans, Html.Partial("_ProfileHealthWeakOrgans").ToString(), "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
    </div>
}