@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="main-content clear-both">
        <div>
            <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
                <li class="active">
                    <a data-toggle="tab" href="#c-details">
                        @Model.CharacterEnergy.DescriptiveTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/energies/{Model.CharacterEnergy.EnergyLowerCase}.png")');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#child">
                        @Dictionary.ChildNature
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ui/inner-child.png")');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#adult-child">
                        @Dictionary.AdultChildRelationshipTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ui/adult-child-relationship.png")');"></div>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#stress">
                        @Dictionary.StressResponse
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ui/stress-response.png")');"></div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="c-details" class="tab-pane fade in active">
                    @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfileOrComplementary))
                    {
                        @Html.PanelWithSummary(Model.CharacterEnergy.EnergyTitle, Model.CharacterEnergy.EnergyDescription, Model.CharacterEnergy.CharacterEnergySummary, "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                    }
                </div>

                <div id="child" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfileOrComplementary))
                    {
                        @Html.Partial("_ProfileChildNature", Model)
                    }
                </div>

                <div id="adult-child" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfileOrComplementary))
                    {
                        @Html.Partial("_ProfileAdultChildRelationship", Model)
                    }
                </div>

                <div id="stress" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfileOrComplementary))
                    {
                        @Html.Partial("_ProfileStressResponse", Model)
                    }
                </div>
            </div>
        </div>
    </div>
}