@using ServiceStack.Text
@model K9.WebApplication.Models.BioRhythmsModel

@{
    var id = @Guid.NewGuid().ToString();
}

@*<h3 class="text-center margin-bottom-0 padding-bottom-0" style="font-size: 0.95em; font-weight: bold;">@Dictionary.BiorhythmsLabel</h3>*@

<div class="gauge-container">
    @*<canvas id="@id" class="sinusgraph" width="900" height="500"></canvas>*@
    <div id="@id" class="sinusgraph" width="900" height="500"></div>
</div>

<script type="text/javascript">

    $(function() {

        function getSeriesData(rawData) {
            var data = [], i;
            for (i = 0; i < rawData.length; i += 1) {
                data.push({
                    x: new Date(rawData[i].Item1),
                    y: rawData[i].Item2,
                    z: new Date(rawData[i].Item1).toDateString()
                });
            }
            return data;
        }

        function loadCharts() {
            Highcharts.chart("@id",
                {
                    chart: {
                        type: "spline",
                        animation: Highcharts.svg,
                        marginRight: 10
                    },

                    time: {
                        useUTC: false
                    },

                    title: {
                        text: "@Dictionary.BiorhythmsLabel"
                    },

                    xAxis: {
                        type: "datetime",
                        tickPixelInterval: 4
                    },

                    yAxis: {
                        title: {
                            text: "Value"
                        },
                        plotLines: [
                            {
                                value: 0,
                                width: 1,
                                color: "#808080"
                            }
                        ],
                        max: 100
                    },

                    tooltip: {
                        headerFormat: "<strong style='color: {series.color}'>{series.name}</strong><br/><br/>",
                        pointFormat: "<strong>Date: </strong>{point.z}<br/>" +
                                     "<strong>Value: </strong>{point.y:.2f}"
                    },

                    legend: {
                        enabled: true
                    },

                    exporting: {
                        enabled: true
                    },

                    series: [
                        {
                            name: "@($"{Model.IntellectualBiorhythmResult.BioRhythm.Name} {Dictionary.Biorhythm}")",
                            data: getSeriesData(@(Html.Raw(Model.IntellectualBiorhythmResult.RangeValues.ToJson())))
                        },
                        {
                            name: "@($"{Model.SpiritualBiorhythmResult.BioRhythm.Name} {Dictionary.Biorhythm}")",
                            data: getSeriesData(@(Html.Raw(Model.SpiritualBiorhythmResult.RangeValues.ToJson())))
                        },
                        {
                            name: "@($"{Model.EmotionalBiorhythmResult.BioRhythm.Name} {Dictionary.Biorhythm}")",
                            data: getSeriesData(@(Html.Raw(Model.EmotionalBiorhythmResult.RangeValues.ToJson())))
                        },
                        {
                            name: "@($"{Model.PhysicalBiorhythmResult.BioRhythm.Name} {Dictionary.Biorhythm}")",
                            data: getSeriesData(@(Html.Raw(Model.PhysicalBiorhythmResult.RangeValues.ToJson())))
                        }
                    ]
                });
        }

        loadCharts();

    });

</script>