@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers

@model K9.WebApplication.ViewModels.PlannerViewModel

@{
    var activeChild = Model.Energies.FirstOrDefault(e => e.IsActive);
    var periodDatesText = string.IsNullOrEmpty(Model.PeriodDatesDetails) ? "" : $"{Model.PeriodDatesDetails} |";
}

<div class="container main-content clear-both global-planner-container">
    @Html.HiddenFor(e => e.SelectedDateTimeString)
    @Html.Hidden("PlannerView", (int)Model.View)
    @Html.Hidden("PlannerDisplay", (int)Model.Display)
    @Html.Hidden("HousesDisplay", (int)Model.HousesDisplay)

    <div class="row margin-0 margin-bottom-20">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 padding-0">
            <div class="col-sm-5 col-xs-12 padding-0 margin-bottom-5">
                @Html.BootstrapEditorFor(e => e.View, new EditorOptions
                {
                    Label = ""
                })
            </div>
            <div class="col-sm-2 desktop-only padding-0">
            </div>
            <div class="col-sm-5 col-xs-12 padding-0">
                @Html.BootstrapEditorFor(e => e.Display, new EditorOptions
                {
                    Label = ""
                })
            </div>
        </div>
    </div>

    <div class="text-center margin-top-15 planner-instructions">
        <h5>
            @Dictionary.PlannerInstructions
        </h5>
    </div>

    <div class="parent-planner">
        <!-- Parent Block -->
        <div class="parent-block planner-item-container">
            <!-- Top Row: Parent Summary -->
            <div class="global-planner-item" data-energy="@Model.Energy.Energy" data-type="parent" data-view="@Model.View" data-display="@Model.Display" data-selected-date="@Model.PeriodStartsOnDateTimeString" data-update-url="@Model.UpdateParentUrl">
                <div class="parent-summary-row clickable">
                    <div class="parent-label">
                        <div class="parent-title">@Model.PeriodDatesTitle</div>
                        <div class="parent-dates">@periodDatesText <strong>@Model.PeriodAgesDetails</strong></div>
                    </div>
                    <div class="parent-detail narrow">
                        <img loading="lazy" title="@Model.Energy.EnergyName" alt="@Model.ImgAlt" class="auto-size center-block" src="@Model.ImgSrc" />
                    </div>
                    @if (Model.View == EPlannerView.Day)
                    {
                        <div class="parent-detail extra-narrow">
                            @Html.Partial("~/Views/Astrology/_MoonPhase.cshtml", Model.MoonPhase)
                        </div>
                    }
                    <div class="parent-detail wide">
                        <div>
                            <h4 class="margin-0">@Model.Energy.HouseName</h4>
                        </div>
                        <div>
                            @Model.Energy.SeasonDescription / @Model.Energy.CycleDescriptiveName
                        </div>
                    </div>
                    <div class="parent-detail wide level-up">
                        <div>
                            @if (Model.View != EPlannerView.EightyOneYear)
                            {
                                <a class="planner-zoom-out" data-view="@Model.NextViewUp" data-display="@Model.Display"><i class="fa fa-level-up-alt"></i></a>
                            }
                        </div>
                        <div>
                            <a class="planner-navigation" data-navigation="@EPlannerNavigationDirection.Back" data-view="@Model.View" data-display="@Model.Display"><i class="fa fa-arrow-circle-left"></i></a>
                            <a class="planner-navigation" data-navigation="@EPlannerNavigationDirection.Forward" data-view="@Model.View" data-display="@Model.Display"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            @switch (Model.View)
            {
                case EPlannerView.EightyOneYear:
                case EPlannerView.NineYear:
                case EPlannerView.Year:

                    var containerClass = Model.View == EPlannerView.Year ? "row" : "grid";

                    <!-- Bottom Row: Child -->
                    <div class="child-row @containerClass">
                        @foreach (var energy in Model.Energies)
                        {
                            var energyTitle = Model.GetEnergyTitle(energy);
                            var datesDisplay = Model.GetEnergyDatesDetails(energy);
                            var ageDisplay = Model.GetEnergAgeDetails(energy);
                            var columnClass = Model.View == EPlannerView.Year ? "col-md-1 col-sm-1 col-xs-2" : "";

                            <div class="padding-0 margin-0 child-container @columnClass">
                                <div class="global-planner-item" data-energy="@energy.Energy.Energy" data-view="@Model.ChildView" data-display="@Model.Display" data-type="child" data-selected-date="@energy.EnergyStartsOnDateTimeString" data-update-url="@Model.UpdateChildUrl">

                                    <div class="planner-item-container child-block clickable @energy.SelectedCssClass">
                                        <div class="child-name">@energyTitle</div>
                                        <div class="desktop-only child-dates">@datesDisplay</div>
                                        <div class="desktop-only child-dates age-details">@ageDisplay</div>
                                        <img loading="lazy" title="@energy.EnergyName" alt="@energy.ImageAlt" class="auto-size center-block" src="@energy.ImageSrc" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    break;

                case EPlannerView.Month:

                    @Html.Partial("Planner/_DailyCalendar")

                    break;

                case EPlannerView.Day:

                    @Html.Partial("Planner/_HourlyPlanner")

                    break;
            }


        </div>
    </div>
    <hr />
    <div id="global-planner-details">
        @if (activeChild != null)
        {
            @Html.Panel(activeChild.Energy.CycleDescriptiveName, activeChild.Energy.CycleDescription)
        }
        else
        {
            @Html.Panel(Model.Energy.CycleDescriptiveName, Model.Energy.CycleDescription)
        }
    </div>
    <div id="global-planner-moon-details" style="display: none;">
        @Html.Panel(Dictionary.LunarCycle, "");
    </div>
</div>




