@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@model K9.WebApplication.ViewModels.PlannerViewModel

<div class="container main-content clear-both hourly-planner-container margin-bottom-0">
    <div id="hourly-slots">
        @foreach (var energy in Model.Energies)
        {
            <div class="global-planner-item" data-energy="@energy.Energy.Energy" data-view="@Model.ChildView" data-display="@Model.Display" data-type="timeslot" data-selected-date="@energy.EnergyStartsOnDateTimeString" data-update-url="@Model.UpdateChildUrl">
                <div class="time-slot planner-item-container @energy.SelectedCssClass" data-time="0:00">
                    <div class="time-display">@energy.TimeSlotString</div>
                    <div class="img-container">
                        <img loading="lazy" title="@energy.EnergyName" alt="@energy.ImageAlt" class="auto-size center-block" src="@energy.ImageSrc" />
                    </div>
                    <div class="slot-item">@energy.EnergyName</div>
                </div>
            </div>
        }
    </div>
</div>
