@model K9.WebApplication.Models.HexagramInfo

<div class="hexagram-card">
    <h4>@Model.Name - @Model.Stage</h4>
    <p class="summary">@Model.Title</p>
    <p class="description">@Model.Summary</p>
    @if (!string.IsNullOrEmpty(Model.ChangingLinesInterpretation))
    {
        <hr />
        <div>@Html.Raw(Model.ChangingLinesInterpretation)</div>
    }
</div>
