@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel


@using (Html.BeginBootstrapForm())
{
    <label>@Dictionary.CalculationMethodLabel</label>
    <a target="_blank" href="@Url.Action("CalculationMethods","Home")"><i class="fa fa-question-circle"></i></a>

    @Html.BootstrapEditorFor(model => model.CalculationMethod, new EditorOptions
        {
            Label = ""
        })

    @Html.BootstrapEditorFor(model => model.PersonModel.Name, new EditorOptions
    {
        Label = Dictionary.OptionalNameLabel
    })

    @Html.BootstrapEditorFor(model => model.PersonModel.DateOfBirth)
    @Html.BootstrapEditorFor(model => model.PersonModel.TimeOfBirth)
    @Html.BootstrapEditorFor(model => model.PersonModel.TimeZoneId)
    <div data-toggle="tooltip" data-placement="bottom" title="@Dictionary.GenderSelectionTooltip">
        @Html.BootstrapEditorFor(model => model.PersonModel.Gender)
    </div>

    <hr />
    @Html.BootstrapButton(Dictionary.Calculate, EButtonType.Submit, "", EButtonClass.Large)
}

<script>

</script>