@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@using (Html.BeginBootstrapForm())
{
    <label>@Dictionary.CalculationMethodLabel</label>
    <a target="_blank" href="@Url.Action("CalculationMethods","Home")"><i class="fa fa-question-circle"></i></a>

    @Html.BootstrapEditorFor(model => model.CalculationMethod, new EditorOptions
        {
            Label = ""
        })

    <div class="form-options">
        @if (Model.IsPredictionsScreen)
        {
            @Html.CheckBoxFor(model => model.InvertDailyAndHourlyCycleKiForSouthernHemisphere)
            <label>@Dictionary.InvertDailyAndHourlyCycleKiForSouthernHemisphereLabel</label>
            <p class="hint">@Dictionary.OptionalForSouthernHemisphere</p>
        }

        @Html.CheckBoxFor(model => model.InvertDailyAndHourlyKiForSouthernHemisphere)
        <label>@Dictionary.InvertDailyAndHourlyKiForSouthernHemisphereLabel</label>
        <p class="hint">@Dictionary.OptionalForSouthernHemisphere</p>
    </div>

    if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
    {
        if (Model.IsPredictionsScreen)
        {
            <div class="form-options">
                @Html.CheckBoxFor(model => model.UseHolograhpicCycleCalculation)
                <label>@Dictionary.UseHolographicMethod</label>
                <a target="_blank" href="@Url.Action("CalculationMethods", "Home")"><i class="fa fa-question-circle"></i></a>
            </div>
        }
    }

    <hr />

    @Html.BootstrapEditorFor(model => model.PersonModel.DateOfBirth)
    @Html.BootstrapEditorFor(model => model.PersonModel.TimeOfBirth)
    @Html.BootstrapEditorFor(model => model.PersonModel.BirthTimeZoneId)
    <div data-toggle="tooltip" data-placement="top" title="@Dictionary.GenderSelectionTooltip">
        @Html.BootstrapEditorFor(model => model.PersonModel.Gender)
    </div>

    if (Model.IsPredictionsScreen)
    {
        var selectedDateDisplayStyle = Model.DisplayDataForPeriod == EDisplayDataForPeriod.SelectedDate ? "" : "display: none;";

        <hr />
            
        @Html.BootstrapEditorFor(model => model.DisplayDataForPeriod)
        @Html.BootstrapEditorFor(model => model.UserTimeZoneId)

        <div id="predictions-selected-date-container" style="@selectedDateDisplayStyle">
            @Html.BootstrapEditorFor(model => model.SelectedDate)
            @Html.BootstrapEditorFor(model => model.SelectedTime)
        </div>
    }

    <hr />
    @Html.BootstrapButton(Dictionary.Calculate, EButtonType.Submit, "", EButtonClass.Large)
}

<script>
    $(document).ready(function () {
        $('#CalculationMethod').on('change', function () {
            let value = $(this).val();
            let $genderFormGroup = $("div[data-input-id='Gender']");

            if (value != '0') {
                $genderFormGroup.fadeOut();
            } else {
                $genderFormGroup.fadeIn();
            }
        });

        $('#DisplayDataForPeriod').on('change', function () {
            let value = $(this).val();
            let $container = $("#predictions-selected-date-container");

            if (value == '0') {
                $container.fadeOut();
            } else {
                $container.fadeIn();
            }
        });
    });
</script>