@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var activeUserMembership = this.GetActiveUserMembership();
    var isUnlimited = (activeUserMembership != null && (activeUserMembership.IsUnlimited() || activeUserMembership.IsUnlimitedTrial())) || K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin();
    var simpleChecked = Model.CalculatorType == ECalculatorType.Simple ? "checked" : "";
    var advancedChecked = Model.CalculatorType == ECalculatorType.Advanced ? "checked" : "";
    var advancedStyle = Model.CalculatorType == ECalculatorType.Advanced ? "" : "display: none;";
    var birthTimeStyle = Model.PersonModel.TimeOfBirthKnown ? "" : "display: none;";
}

@using (Html.BeginBootstrapForm())
{
    if (isUnlimited)
    {
        <label>@Dictionary.CalculatorTypeLabel</label>

        <div class="d-flex align-items-center calculator-options">
            <div class="form-check form-check-inline">
                <input type="radio" name="@nameof(Model.CalculatorType)" id="simple-calculator" value="@((int) ECalculatorType.Simple)" @simpleChecked>
                <label for="simple-calculator">@Dictionary.Simple</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="@nameof(Model.CalculatorType)" id="advanced-calculator" value="@((int) ECalculatorType.Advanced)" @advancedChecked>
                <label for="advanced-calculator">@Dictionary.Advanced</label>
            </div>
        </div>
    }

    if (isUnlimited)
    {

        <div class="form-options advanced-calculator-options" style="@advancedStyle">
            <hr />

            <label>@Dictionary.CalculationMethodLabel</label>
            <a target="_blank" href="@Url.Action("CalculationMethods", "Home")"><i class="fa fa-question-circle"></i></a>

            @Html.BootstrapEditorFor(model => model.CalculationMethod, new EditorOptions
            {
                Label = ""
            })

            <hr />

            @if (Model.IsPredictionsScreen)
            {
                <label>@Dictionary.HousesDisplayLabel</label>
                <a target="_blank" href="@Url.Action("CalculationMethods", "Home")"><i class="fa fa-question-circle"></i></a>

                @Html.BootstrapEditorFor(model => model.HousesDisplay, new EditorOptions
                {
                    Label = ""
                })

                @Html.CheckBoxFor(model => model.InvertDailyAndHourlyCycleKiForSouthernHemisphere)
                <label>@Dictionary.InvertDailyAndHourlyCycleKiForSouthernHemisphereLabel</label>
                <p class="hint">@Dictionary.OptionalForSouthernHemisphere</p>
            }

            @Html.CheckBoxFor(model => model.InvertDailyAndHourlyKiForSouthernHemisphere)
            <label>@Dictionary.InvertDailyAndHourlyKiForSouthernHemisphereLabel</label>
            <p class="hint">@Dictionary.OptionalForSouthernHemisphere</p>

        </div>
    }

    <hr />

    @Html.BootstrapEditorFor(model => model.PersonModel.DateOfBirth)

    @Html.BootstrapEditorFor(model => model.PersonModel.TimeOfBirthKnown)

    <div id="birth-time-container" style="@birthTimeStyle">
        @Html.BootstrapEditorFor(model => model.PersonModel.TimeOfBirth)
        @Html.BootstrapEditorFor(model => model.PersonModel.BirthTimeZoneId)
    </div>

    @Html.BootstrapEditorFor(model => model.PersonModel.Gender)

    if (Model.IsPredictionsScreen)
    {
        var selectedDateDisplayStyle = Model.DisplayDataForPeriod == EDisplayDataForPeriod.SelectedDate ? "" : "display: none;";

        <div class="advanced-calculator-options" style="@advancedStyle">
            <hr />

            @Html.BootstrapEditorFor(model => model.DisplayDataForPeriod)
            @Html.BootstrapEditorFor(model => model.UserTimeZoneId)

            <div id="predictions-selected-date-container" style="@selectedDateDisplayStyle">
                @Html.BootstrapEditorFor(model => model.SelectedDate)
                @Html.BootstrapEditorFor(model => model.SelectedTime)
            </div>
        </div>
    }

    <hr />
    @Html.BootstrapButton(Dictionary.Calculate, EButtonType.Submit, "", EButtonClass.Large)
}

