@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.CompatibilityModel

@if (Model != null && Model.IsProcessed)
{
    @Html.Panel(Dictionary.SummaryLabel, Model.CompatibilitySummary)

    using (Html.BeginBootstrapForm())
    {
        <h4 class="margin-top-0 margin-bottom-10">@Dictionary.Details</h4>
        <div class="ninestar-summmary container padding-0 margin-top-15">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="tab" href="#fundamental">@Dictionary.FundamentalEnergiesCompatibility</a></li>
                <li><a data-toggle="tab" href="#character">@Dictionary.CharacterEnergiesCompatibility</a></li>
                <li><a data-toggle="tab" href="#sexuality">@Dictionary.SexualChemistryDetails</a></li>
            </ul>

            <div class="tab-content">
                <div id="fundamental" class="tab-pane fade in active">
                    @Html.Panel(Dictionary.FundamentalEnergiesCompatibility, Model.FundamentalEnergiesCompatibility)
                </div>

                <div id="character" class="tab-pane fade">
                    @Html.Panel(Dictionary.CharacterEnergiesCompatibility, Model.CharacterEnergiesCompatibility)
                </div>

                <div id="sexuality" class="tab-pane fade">
                    @Html.Panel(Dictionary.SexualChemistryDetails, Model.SexualChemistryDetails)
                </div>
            </div>
        </div>
    }
}