@using K9.WebApplication.Enums
@using K9.WebApplication.Options
@model K9.WebApplication.Models.CompatibilityModel

<div class="row">
    <div class="col-sm-4 col-xs-12">
        @if (Model != null && Model.IsProcessed)
        {
            <h4 class="text-center margin-top-0">@Dictionary.SexualChemistry</h4>
            @Html.Partial("_CompatibilityGauge", new GaugeOptions
            {
                Value = (int)Model.TotalSexualChemistryScore,
                MaxValue = (int)ESexualChemistryScore.OffTheCharts
            })
        }
    </div>
    <div class="col-sm-4 col-xs-12">
        @if (Model != null && Model.IsProcessed)
        {
            <h4 class="text-center margin-top-0">@Dictionary.ChemistryScore</h4>
            @Html.Partial("_CompatibilityGauge", new GaugeOptions
            {
                Value = (int)Model.TotalEnergyChemistryScore,
            })
        }
    </div>
    <div class="col-sm-4 col-xs-12">
        @if (Model != null && Model.IsProcessed)
        {
            <h4 class="text-center margin-top-0">@Dictionary.LearningPotentialScore</h4>
            @Html.Partial("_CompatibilityGauge", new GaugeOptions
            {
                Value = (int) Model.TotalEnergyLearningPotentialScore
            })
        }
    </div>
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        @if (Model != null && Model.IsProcessed)
        {
            <h4 class="text-center margin-top-0">@Dictionary.ConflictScore</h4>
            @Html.Partial("_CompatibilityGauge", new GaugeOptions
            {
                Value = (int) Model.TotalEnergyConflictPotentialScore,
                IsInverted = true
            })
        }
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        @if (Model != null && Model.IsProcessed)
        {
            <h4 class="text-center margin-top-0">@Dictionary.HarmonyScore</h4>
            @Html.Partial("_CompatibilityGauge", new GaugeOptions
            {
                Value = (int) Model.TotalHarmonyScore
            })
        }
    </div>
</div>