@model K9.WebApplication.Models.CompatibilityModel

<h4>@Dictionary.FundamentalElements</h4>

@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.FundamentalElementsTransformationDetails)

<p>
    @Html.Raw(Model.CompatibilityDetails.ElementCompatibility.FundamentalElementsCompatibilityDetails)
</p>

<h4 style="margin-top: 40px !important;">@Dictionary.CharacterElements</h4>
@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsTransformationDetails)

<p>
    @Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsCompatibilityDetails)
</p>

<h4 style="margin-top: 40px !important;">@Dictionary.AllElements</h4>
@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.AllOtherElementsCompatibility)
