@model K9.WebApplication.Options.GaugeOptions

@{
    var id = @Guid.NewGuid().ToString();
}

@if (Model.IsSecret)
{
    <div class="gauge-question">
        <canvas id="@id" class="gauge secret-gauge" data-value="0" data-max-value="@Model.MaxValue"></canvas>
    </div>
}
else
{
    <canvas id="@id" class="gauge" data-value="@Model.Value" data-max-value="@Model.MaxValue" data-invert="@Model.IsInverted.ToString().ToLower()"></canvas>
}