@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@K9.Globalisation.Dictionary.Element</h3>
    <p>@Model.Element</p>
    <a target="_blank" href="@Url.ActionWithBookmark("About", "Home", Model.Element.ToLower())">
        <img title="@Model.Element @K9.Globalisation.Dictionary.Element" alt="@Model.Element @K9.Globalisation.Dictionary.Element" class="auto-size center-block" src="~/Images/ninestar/elements/@(Model.Element).png" />
    </a>
</div>