@using K9.WebApplication.Config
@using K9.WebApplication.Models
@model NineStarKiEnergy

@{
    var label = Model.EnergyType == ENineStarKiEnergyType.MainEnergy ? Model.AdultEnergyLabel
        : Model.EnergyType == ENineStarKiEnergyType.CharacterEnergy ? Model.CharacteEnergyLabel
            : Model.EnergyType == ENineStarKiEnergyType.SurfaceEnergy ? Dictionary.SurfaceEnergyShortLabel
                : Model.EnergyType == ENineStarKiEnergyType.DailyEnergy ? Dictionary.DayStarLabel
                    : Model.EnergyType == ENineStarKiEnergyType.GenerationalEnergy ? Dictionary.GenerationalEnergyLabel
                        : Model.EnergyType == ENineStarKiEnergyType.EpochEnergy ? Dictionary.EpochEnergyLabel
                            : string.Empty;
}

<div class="graphical-display">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@label</h3>
        <p class="margin-bottom-2">@Model.EnergyName</p>
        <div class="energy-image-container">
            <img loading="lazy" title="@Model.EnergyName" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.EnergyName" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ninestar/energies/@(Model.Energy.ToString().ToLower()).png" />
        </div>
    </div>
</div>
<div class="magic-square-display">
    @Html.Partial("../NineStarKi/_MagicSquare", Model)
</div>
