@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Models
@model K9.WebApplication.ViewModels.MagicSquareViewModel

@{
    var label = Model.IsPersonalChart ?

    Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.MainEnergy ? Model.PersonalEnergy.AdultEnergyLabel
        : Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.CharacterEnergy ? Model.PersonalEnergy.CharacteEnergyLabel
            : Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.SurfaceEnergy ? Dictionary.SurfaceEnergyShortLabel
                : Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.DailyEnergy ? Dictionary.DayStarLabel
                    : Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.GenerationalEnergy ? Dictionary.GenerationalEnergyLabel
                        : Model.PersonalEnergy.EnergyType == ENineStarKiEnergyType.EpochEnergy ? Dictionary.EpochEnergyLabel
                            : string.Empty

        :

        Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy ? Dictionary.YearlyEnergyLabel
            : Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy ? Dictionary.MonthlyEnergyLabel
                : Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.HourlyEnergy ? Dictionary.HourlyEnergyLabel
                    : Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy ? Dictionary.DailyEnergyLabel
                        : Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.GenerationalEnergy ? Dictionary.GenerationalEnergyLabel
                            : Model.PersonalEnergy.EnergyCycleType == ENineStarKiEnergyCycleType.EpochEnergy ? Dictionary.EpochEnergyLabel
                                : string.Empty;

    var displayPreference = K9.WebApplication.Helpers.SessionHelper.GetEnergyDefaultDisplay();
    var magicStyle = displayPreference == (int)EEnergyDisplay.Graphical ? "display: none;" : "";
    var houseDetails = Model.IsPersonalChart ? Model.PersonalEnergy.ElementNameAndNumber : $"{Model.PersonalEnergy.ElementNameAndNumber} {Dictionary.House}";
    var houseDetails2 = Model.IsSplit ? Model.IsPersonalChart ? Model.SecondMagicSquareViewModel.PersonalEnergy.ElementNameAndNumber : $"{Model.SecondMagicSquareViewModel.PersonalEnergy.ElementNameAndNumber} {Dictionary.House}" : "";
}

<div class="magic-square-display" style="@magicStyle">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@label</h3>
        <p class="margin-bottom-2">@houseDetails</p>
        @Html.Partial("../NineStarKi/_MagicSquare", Model)

        @if (Model.IsSplit)
        {
            <p class="margin-bottom-2">@houseDetails2</p>
            @Html.Partial("../NineStarKi/_MagicSquare", Model.SecondMagicSquareViewModel)
        }
    </div>
</div>