@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Models
@model K9.WebApplication.ViewModels.MagicSquareViewModel

@{
    var label = Model.IsPersonalChart ?

    Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.MainEnergy ? Model.PersonalHouseOccupied.AdultEnergyLabel
        : Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.CharacterEnergy ? Model.PersonalHouseOccupied.CharacteEnergyLabel
            : Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.SurfaceEnergy ? Dictionary.SurfaceEnergyShortLabel
                : Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.DailyEnergy ? Dictionary.DayStarLabel
                    : Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.GenerationalEnergy ? Dictionary.GenerationalEnergyLabel
                        : Model.PersonalHouseOccupied.EnergyType == ENineStarKiEnergyType.EpochEnergy ? Dictionary.EpochEnergyLabel
                            : string.Empty

        :

        Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.YearlyCycleEnergy ? Dictionary.YearlyEnergyLabel
            : Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.MonthlyCycleEnergy ? Dictionary.MonthlyEnergyLabel
                : Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.HourlyEnergy ? Dictionary.HourlyEnergyLabel
                    : Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.DailyEnergy ? Dictionary.DailyEnergyLabel
                        : Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.GenerationalEnergy ? Dictionary.GenerationalEnergyLabel
                            : Model.PersonalHouseOccupied.EnergyCycleType == ENineStarKiEnergyCycleType.EpochEnergy ? Dictionary.EpochEnergyLabel
                                : string.Empty;

    var displayPreference = K9.WebApplication.Helpers.SessionHelper.GetEnergyDefaultDisplay();
    var magicStyle = displayPreference == (int)EEnergyDisplay.Graphical ? "display: none;" : "";

    var houseDetails = Model.IsPersonalChart ? Model.PersonalHouseOccupied.ElementNameAndNumber :
        Model.IsGlobal ? Model.GlobalKi.HouseName :

        Model.IsDualView ? Model.SolarHouseOccupiedText : Model.PersonalHouseOccupied.HouseName;

    var houseDetails2 = Model.IsSplit || Model.IsDualView ?

        Model.IsPersonalChart ? Model.SecondMagicSquareViewModel.PersonalHouseOccupied.ElementNameAndNumber :
        Model.IsGlobal ? Model.SecondMagicSquareViewModel.GlobalKi.HouseName :

        Model.IsDualView ? Model.LunarHouseOccupiedText : Model.SecondMagicSquareViewModel.PersonalHouseOccupied.HouseName
    : "";
}

<div class="magic-square-display" style="@magicStyle">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@label</h3>
        <p class="margin-bottom-2">@houseDetails</p>
        @Html.Partial("../NineStarKi/_MagicSquare", Model)

        @if (Model.IsSplit || Model.IsDualView)
        {
            <p class="margin-bottom-2">@houseDetails2</p>
            @Html.Partial("../NineStarKi/_MagicSquare", Model.SecondMagicSquareViewModel)
        }
    </div>
</div>