@using K9.WebApplication.Config
@using K9.WebApplication.Models
@model K9.WebApplication.ViewModels.MagicSquareViewModel

@{
    var directions = Model.GetDirections();
    var magicSquareNumbers = Model.GlobalEnergy.GetMagicSquareNumbers();
    var numbersMatch = Model.GlobalEnergy.EnergyNumber == Model.PersonalEnergy.EnergyNumber;

    var active1Class = 4 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active2Class = 9 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active3Class = 2 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active4Class = 3 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active5Class = 5 == Model.PersonalEnergy.EnergyNumber || numbersMatch ? "active " : "";
    var active6Class = 7 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active7Class = 8 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active8Class = 1 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
    var active9Class = 6 == Model.PersonalEnergy.EnergyNumber && !numbersMatch ? "active " : "";
}


<div class="ninestar-summary-container magic-square-container margin-3">
    <div class="magic-square">
        <div class="cell @active1Class number-@magicSquareNumbers[3]" data-index="1">@magicSquareNumbers[3]</div>
        <div class="cell @active2Class number-@magicSquareNumbers[8]" data-index="2">@magicSquareNumbers[8]</div>
        <div class="cell @active3Class number-@magicSquareNumbers[1]" data-index="3">@magicSquareNumbers[1]</div>
        <div class="cell @active4Class number-@magicSquareNumbers[2]" data-index="4">@magicSquareNumbers[2]</div>
        <div class="cell @active5Class number-@Model.GlobalEnergy.EnergyNumber" data-index="5">@Model.GlobalEnergy.EnergyNumber</div>
        <div class="cell @active6Class number-@magicSquareNumbers[6]" data-index="6">@magicSquareNumbers[6]</div>
        <div class="cell @active7Class number-@magicSquareNumbers[7]" data-index="7">@magicSquareNumbers[7]</div>
        <div class="cell @active8Class number-@magicSquareNumbers[0]" data-index="8">@magicSquareNumbers[0]</div>
        <div class="cell @active9Class number-@magicSquareNumbers[5]" data-index="9">@magicSquareNumbers[5]</div>

        <div class="directions-line-overlay">
            <div data-tooltip-title="@directions.FiveYelloKilling.Name" data-tooltip="@directions.FiveYelloKilling.Description" class="line five-yellow-killing to-@directions.FiveYelloKilling.Direction"></div>
            <div data-tooltip-title="@directions.DarkSwordKilling.Name" data-tooltip="@directions.DarkSwordKilling.Description" class="line dark-sword-killing to-@directions.DarkSwordKilling.Direction"></div>
            <div data-tooltip-title="@directions.SelfLifeKilling.Name" data-tooltip="@directions.SelfLifeKilling.Description" class="line self-life-killing to-@directions.SelfLifeKilling.Direction"></div>
            <div data-tooltip-title="@directions.TargetKilling.Name" data-tooltip="@directions.TargetKilling.Description" class="line target-killing to-@directions.TargetKilling.Direction"></div>
        </div>
    </div>
</div>

