@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both ninestar-header-container">
        <article>
            <div>
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Overview), Model.Overview, true)

                @Html.CollapsiblePanel(Model.MainEnergy.FullEnergyDetailsTitle, Model.MainEnergy.EnergyDescription)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.MainEnergy.ElementTitle), Model.MainEnergy.ElementDescription)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.MainEnergy.ModalityName), Model.MainEnergy.ModalityDescription)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Health), Model.Health)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Occupations), Model.Occupations)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.PersonalDevelopemnt), Model.PersonalDevelopemnt)

                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.MainEnergy.Trigram), Model.MainEnergy.TrigramDescription, false, "", Model.MainEnergy.TrigramUIName)
            </div>
        </article>
    </div>
}