@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
}

<div class="well">
    <div id="energy-summary-container">
        <div class="row">
            <div class="col-md-4 col-sm-4 margin-bottom-15 @childClass">
                <div class="adult-profile">
                    @Html.Partial("_EnergyTitle", Model.MainEnergy)

                    <p class="text-center margin-bottom-0">
                        <strong>@Model.MainEnergy.AdultEnergyLabel</strong>
                    </p>
                    <p class="text-center">
                        @Model.MainEnergy.EnergyName
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                @Html.Partial("_EnergyTitle", Model.CharacterEnergy)

                <p class="text-center margin-bottom-0">
                    <strong>@Model.CharacterEnergy.CharacteEnergyLabel</strong>
                </p>
                <p class="text-center">
                    @Model.CharacterEnergy.EnergyName
                </p>
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                @Html.Partial("_EnergyTitle", Model.SurfaceEnergy)

                <p class="text-center margin-bottom-0">
                    <strong>@Dictionary.SurfaceEnergyShortLabel</strong>
                </p>
                <p class="text-center">
                    @Model.SurfaceEnergy.EnergyName
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-sm-offset-2 col-xs-offset-0 margin-bottom-15">
                <a href="#" id="current-yearly-cycle">
                    <img title="@Model.YearlyCycleEnergy.SeasonDescription" alt="@Model.YearlyCycleEnergy.SeasonDescription" class="auto-size center-block" src="~/Images/ninestar/seasons/@(Model.YearlyCycleEnergy.Season).png" />
                </a>

                <p class="text-center margin-bottom-0">
                    <strong>@Dictionary.CurrentYearlyCycle</strong>
                </p>
                <p class="text-center">
                    @Model.YearlyCycleEnergy.CycleDescriptiveName
                </p>
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                <a href="#" id="current-monthly-cycle">
                    <img title="@Model.MonthlyCycleEnergy.SeasonDescription" alt="@Model.MonthlyCycleEnergy.SeasonDescription" class="auto-size center-block" src="~/Images/ninestar/seasons/@(Model.MonthlyCycleEnergy.Season).png" />
                </a>

                <p class="text-center margin-bottom-0">
                    <strong>@Dictionary.CurrentMonthlyCycle</strong>
                </p>
                <p class="text-center">
                    @Model.MonthlyCycleEnergy.CycleDescriptiveName
                </p>
            </div>
        </div>
        @if (Model.IsShowSummary)
        {
            <div class="row">
                <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
                    <article>
                        @Html.Panel(Dictionary.SummaryLabel, Model.Summary)
                    </article>
                </div>
            </div>
        }
    </div>
</div>