@model K9.WebApplication.Models.NineStarKiModel

@{
    var adultActiveClass = Model.PersonModel.IsAdult() ? "in active" : "disabled";
    var childActiveClass = Model.PersonModel.IsAdult() ? "" : "in active";
}

@using (Html.BeginBootstrapForm())
{
    <h4 class="margin-top-0 margin-bottom-10">@K9.Globalisation.Dictionary.PersonalProfileDetails</h4>
    <div class="ninestar-summmary container padding-0 margin-top-15">
        <ul class="nav nav-pills nav-justified">
            @if (Model.PersonModel.IsAdult())
            {
                <li class="active"><a data-toggle="tab" href="#adult">@Model.MainEnergy.AdultEnergyLabel</a></li>
                <li><a data-toggle="tab" href="#emotional">@Model.CharacterEnergy.CharacteEnergyLabel</a></li>
            }
            else
            {
                <li class="active"><a data-toggle="tab" href="#emotional">@Model.CharacterEnergy.CharacteEnergyLabel</a></li>
            }
            
            <li><a data-toggle="tab" href="#surface">@K9.Globalisation.Dictionary.ExternalPersona</a></li>
        </ul>

        <div class="tab-content">
            <div id="adult" class="tab-pane fade @adultActiveClass">
                @Html.Partial("_NineStarHeader", Model.MainEnergy)
                <hr />
                @Html.Partial("_NineStarDetail", Model)
            </div>
            <div id="emotional" class="tab-pane fade @childActiveClass">
                @Html.Partial("_NineStarHeader", Model.CharacterEnergy)
                <hr />
                @Html.Partial("_NineStarBody", Model.CharacterEnergy)
            </div>
            <div id="surface" class="tab-pane fade">
                @Html.Partial("_NineStarHeader", Model.SurfaceEnergy)
                <hr />
                @Html.Partial("_NineStarBody", Model.SurfaceEnergy)
            </div>
        </div>
    </div>
}