@model K9.WebApplication.Models.NineStarKiModel

<div id="energy-summary-container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            @Html.Partial("_EnergyTitle", Model.MainEnergy)

            <p class="text-center margin-bottom-0">
                <strong>@K9.Globalisation.Dictionary.MainEnergyShortLabel</strong>
            </p>
            <p class="text-center">
                @Model.MainEnergy.FullEnergyName
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            @Html.Partial("_EnergyTitle", Model.EmotionalEnergy)

            <p class="text-center margin-bottom-0">
                <strong>@K9.Globalisation.Dictionary.EmotionalEnergyShortLabel</strong>
            </p>
            <p class="text-center">
                @Model.EmotionalEnergy.FullEnergyName
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            @Html.Partial("_EnergyTitle", Model.SurfaceEnergy)

            <p class="text-center margin-bottom-0">
                <strong>@K9.Globalisation.Dictionary.SurfaceEnergyShortLabel</strong>
            </p>
            <p class="text-center">
                @Model.SurfaceEnergy.FullEnergyName
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <article>
                <h4 class="margin-top-15">@K9.Globalisation.Dictionary.SummaryLabel</h4>
                @MvcHtmlString.Create(Model.Summary)
            </article>
        </div>
    </div>
</div>