@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
}

@using (Html.BeginBootstrapForm())
{
    <div id="energy-summary-container">
        <div class="row">
            <div class="col-md-4 col-sm-4 margin-bottom-15 @childClass">
                <div class="adult-profile">
                    @Html.Partial("_EnergyTitle", Model.MainEnergy)

                    <p class="text-center margin-bottom-0">
                        <strong>@Model.MainEnergy.AdultEnergyLabel</strong>
                    </p>
                    <p class="text-center">
                        @Model.MainEnergy.FullEnergyName
                    </p>
                </div>

                @if (!Model.PersonModel.IsAdult())
                {
                    <p class="profile-warning">
                       <img src="~/Images/ui/warning.png"/> @Dictionary.NotInEffectUntilEighteen
                    </p>
                }
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                @Html.Partial("_EnergyTitle", Model.CharacterEnergy)

                <p class="text-center margin-bottom-0">
                    <strong>@Model.CharacterEnergy.CharacteEnergyLabel</strong>
                </p>
                <p class="text-center">
                    @Model.CharacterEnergy.FullEnergyName
                </p>
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                @Html.Partial("_EnergyTitle", Model.SurfaceEnergy)

                <p class="text-center margin-bottom-0">
                    <strong>@Dictionary.SurfaceEnergyShortLabel</strong>
                </p>
                <p class="text-center">
                    @Model.SurfaceEnergy.FullEnergyName
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
                <article>
                    @Html.Panel(Dictionary.SummaryLabel, Model.Summary)
                </article>
            </div>
        </div>
    </div>
}