@using K9.WebApplication.Config
@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Trigram</h3>
    <p>@Model.Trigram</p>
    <img loading="lazy" title="@Model.Trigram Trigram" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.Trigram Trigram" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ninestar/trigrams/trigram-@(Model.EnergyLowerCase)-square.png" />
</div>