@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@K9.Globalisation.Dictionary.YinYangLabel</h3>
    <p>@Model.YinYang</p>
    <a target="_blank" href="@Url.ActionWithBookmark("About", "Home", "yinyang")">
        <img title="@Model.YinYang" alt="@Model.YinYang" class="auto-size center-block" src="~/Images/ninestar/yinyang/@(Model.YinYang).png" />
    </a>
</div>