@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

<a target="_blank" href="@Url.ActionWithBookmark("Index", "KnowledgeBase", "yinyang")">
    <div class="ninestar-summary-container margin-3">
        <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@Dictionary.YinYangLabel</h3>
        <p>@Model.YinYang</p>

        <img loading="lazy" title="@Model.YinYang" alt="@Dictionary.NineStarKiAstrologyFreeCalculator @Model.YinYang" class="auto-size center-block" src="@MediaService.BaseImagesPath/ninestar/yinyang/@(Model.YinYang.ToString().ToLower()).png" />
    </div>
</a>