@model K9.WebApplication.Models.CompatibilityModel
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.CompatibilityTitle;
    ViewBag.SubTitle = Dictionary.RelationshipCompatibilityCalculator;
    ViewBag.Keywords = Dictionary.CompatibilityKeywords;
    ViewBag.MetaDescription = Dictionary.CompatibilityMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <article>
        <div class="col-sm-12 padding-0">
            @Html.Partial("_CompatibilityCalculator")
        </div>
        <div class="col-sm-12 padding-0 margin-top-0">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Panel(Dictionary.Results, Html.Partial("_CompatibilitySummary", Model).ToString())
            }
        </div>
        <div class="col-sm-12 padding-0 margin-top-20 margin-bottom-20">
            @if (Model != null && Model.IsProcessed && !Model.IsUpgradeRequired)
            {
                @Html.Panel(Dictionary.Details, Html.Partial("_CompatibilityDetails", Model).ToString())
            }
        </div>
    </article>
</div>

@if (Model != null && Model.IsUpgradeRequired)
{
    <h4>
        <strong>@Html.Raw(Dictionary.UpgradeMembershipFullText)</strong>
    </h4>
    @Html.BootstrapActionLinkButton(Dictionary.UpgradeMembershipText, "Index", "Membership")
}