@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    ViewBag.Title = K9.Globalisation.Dictionary.NineStarKiCalculatorTitle;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.PersonalProfileCalculator;
    ViewBag.Keywords = K9.Globalisation.Dictionary.NineStarKiCalculatorKeywords;
    ViewBag.MetaDescription = K9.Globalisation.Dictionary.NineStarKiCalculatorMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="col-md-4 col-sm-4 padding-0">
        @Html.Partial("_Calculator")
    </div>
    <div class="col-md-8 col-sm-8 padding-0 padding-left-20-desktop">
        @if (Model != null && Model.IsProcessed)
        {
            @Html.Partial("_EnergySummary", Model)
        }
    </div>
</div>

@if (Model != null && Model.IsProcessed)
{
    <div class="ninestar-summmary container padding-0">
        <h2>@K9.Globalisation.Dictionary.MainEnergy</h2>
        <hr/>
        @Html.Partial("_NineStarHeader", Model.MainEnergy)
        <hr/>
        @Html.Partial("_NineStarBody", Model.MainEnergy)
        @Html.Partial("_NineStarDetail", Model)

        <h2>@K9.Globalisation.Dictionary.EmotionalEnergyLabel</h2>
        <hr/>
        @Html.Partial("_NineStarHeader", Model.EmotionalEnergy)
        <hr/>
        @Html.Partial("_NineStarBody", Model.EmotionalEnergy)

        <h2>@K9.Globalisation.Dictionary.SurfaceEnergyLabel</h2>
        <hr/>
        @Html.Partial("_NineStarHeader", Model.SurfaceEnergy)
        <hr/>
        @Html.Partial("_NineStarBody", Model.SurfaceEnergy)
    </div>
}
