@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.ViewModels
@model Article

@Html.BootstrapEditorFor(model => model.Title)

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.LastUpdatedOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.PublishedOn)
    </div>
</div>

@Html.BootstrapEditorFor(model => model.TagsText)
@Html.BootstrapEditorFor(model => model.Summary)

<hr />

@Html.Partial("_DynamicFields", new ArticleDynamicFieldsViewModel(Model.Id))

<hr />

@Html.BootstrapEditorFor(model => model.ImageUrl)

<hr />

@Html.BootstrapEditorFor(model => model.HtmlBody)

@Html.Partial("_FieldsJs")