@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model K9.SharedLibrary.Models.ImageInfo

<div class="image-list-item" tabindex="0"
     data-url="@Model.Src"
     data-localurl="@Model.LocalSrc"
     data-placeholder="@Model.GetHtmlPlaceHolder()">

    <img src="@Model.Src" alt="@Model.FileName" />
    <span>@Model.FileName</span>

    <div class="image-actions">
        <button type="button" class="btn btn-xs btn-link copy-url" title="Copy image URL">
            <i class="glyphicon glyphicon-link"></i>
        </button>
        <button type="button" class="btn btn-xs btn-link copy-markup" title="Copy markup">
            <i class="glyphicon glyphicon-console"></i>
        </button>
    </div>
</div>
