@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.ArticleDynamicFieldsViewModel

@if (Model.GlobalImageFields.Any())
{
    <div class="image-group-header">@Dictionary.GlobalImages</div>
    foreach (var item in Model.GlobalImageFields)
    {
        <div class="image-list-item" tabindex="0"
             data-url="@item.Src"
             data-placeholder="@item.GetHtmlPlaceHolder()">
            <img src="@item.Src" alt="@item.FileName" />
            <span>@item.FileName</span>
        </div>
    }
}

@if (Model.ArticleImageFields.Any())
{
    <div class="image-group-header">@Dictionary.ArticleImages</div>
    foreach (var item in Model.ArticleImageFields)
    {
        <div class="image-list-item" tabindex="0"
             data-url="@item.Src"
             data-placeholder="@item.GetHtmlPlaceHolder()">
            <img src="@item.Src" alt="@item.FileName" />
            <span>@item.FileName</span>
        </div>
    }
}
