@using K9.SharedLibrary.Helpers.Html
@model K9.WebApplication.Models.MailingListViewModel

@if (Model != null && Model.MailingList != null && Model.MailingList.Users != null)
{
    <div class="row table-row">
        <div class="col-xs-1">
            @Html.CheckBox("SelectAll", false, new { id = "selectAllUsers" })
        </div>
        <div class="col-xs-6">
            <strong>@Html.LabelFor(e => Model.MailingList.Users[0].FullName)</strong>
        </div>
        <div class="col-xs-5">
            <strong>@Html.LabelFor(e => Model.MailingList.Users[0].EmailAddress)</strong>
        </div>
    </div>

    for (int i = 0; i < Model.MailingList.Users.Count; i++)
    {
        @Html.HiddenFor(e => Model.MailingList.Users[i].Id)
        @Html.HiddenFor(e => Model.MailingList.Users[i].FullName)
        @Html.HiddenFor(e => Model.MailingList.Users[i].EmailAddress)

        <div class="row table-row data-row">
            <div class="col-xs-1">
                @Html.CheckBoxFor(
                    m => m.MailingList.Users[i].IsSelected,
                    new { @class = "user-select-checkbox" }
                    )
            </div>
            <div class="col-xs-6">
                @Html.ValueFor(e => Model.MailingList.Users[i].FullName)
            </div>
            <div class="col-xs-5">
                @Html.ValueFor(e => Model.MailingList.Users[i].EmailAddress)
            </div>
        </div>
    }
}

<script>

    $(document).ready(function () {
        // When "Select all" is toggled
        $('#selectAllUsers').on('change', function () {
            var isChecked = $(this).is(':checked');
            $('.user-select-checkbox').prop('checked', isChecked);
        });

        // Keep "Select all" in sync when user ticks/unticks individual rows
        $('.user-select-checkbox').on('change', function () {
            var total = $('.user-select-checkbox').length;
            var checked = $('.user-select-checkbox:checked').length;
            $('#selectAllUsers').prop('checked', total > 0 && total === checked);
        });
    });

</script>