@model NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@K9.Globalisation.Dictionary.Element</h3>
    <p>@Model.Element</p>
    <img title="@Model.Element @K9.Globalisation.Dictionary.Element" alt="@Model.Element @K9.Globalisation.Dictionary.Element" class="auto-size center-block" src="~/Images/ninestar/elements/@(Model.Element).png"/>
</div>