@using K9.DataAccessLayer.Enums
@using K9.WebApplication.Helpers
@model NineStarKiPersonalProfile

@if (Model != null)
{
    <div class="container main-content clear-both ninestar-header-container">
        <article>
            <div>
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.MainEnergyDescription), Model.MainEnergyDescription, true)

                @if (Model.EnergyType == EEnergyType.MainEnergy)
                {
                    @Html.CollapsiblePanel(K9.Globalisation.Dictionary.Element, Model.NineStarKiEnergy.ElementDescription)

                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Trigram), Model.Trigram)

                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Health), Model.Health)

                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Occupations), Model.Occupations)

                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.PersonalDevelopemnt), Model.PersonalDevelopemnt)
                }

                @if (Model.EnergyType == EEnergyType.EmotionalEnergy)
                {
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.EmotionalEnergyDescription), Model.EmotionalEnergyDescription)
                }
            </div>
        </article>
    </div>
}