@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model NineStarKiEnergy

    @if (Model != null)
    {
        <div class="container main-content clear-both ninestar-header-container">
            <article>
                <div>
                    @Html.CollapsiblePanel(K9.Globalisation.Dictionary.EnergyDescriptionLabel, Model.EnergyDescription, true)

                    @if (Model.EnergyType == ENineStarKiEnergyType.MainEnergy)
                    {
                        @Html.CollapsiblePanel(K9.Globalisation.Dictionary.Element, Model.ElementDescription)

                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Trigram), Model.Trigram)

                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Health), Model.Health)

                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.Occupations), Model.Occupations)

                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(m => Model.PersonalDevelopemnt), Model.PersonalDevelopemnt)
                    }
                </div>
            </article>
        </div>
    }