@using K9.WebApplication.Models
@model K9.WebApplication.Models.NineStarKiModel

@{
    var numerologyModel = new NumerologyModel(Model.PersonModel);
}

<div class="inline-form">
    @using (Html.BeginForm("Index", "Numerology"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => numerologyModel.PersonModel.Name)
        @Html.HiddenFor(model => numerologyModel.PersonModel.DateOfBirth)
        @Html.HiddenFor(model => numerologyModel.PersonModel.Gender)
        
        @Html.BootstrapButton(Dictionary.KarmicNumerologyCalculator, EButtonType.Submit, "fa-sort-numeric-up", EButtonClass.Large)
    }
</div>