@model K9.WebApplication.Models.StripeModel
@{
    ViewBag.Title = Dictionary.Donate;
    ViewBag.SubTitle = Dictionary.MakeDonation;
    ViewBag.BackgroundClass = "background-poaching1";
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm("Donate", "Support", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        <p>
            @Dictionary.DonationBlurb
        </p>
        <hr />

        @Html.BootstrapEditorFor(model => model.DonationAmount)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.LocalisedCurrencyThreeLetters)
        @Html.HiddenFor(model => model.PublishableKey)

        <hr />
        <div class="text-right">
            @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Next, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight)
        </div>
    }
}