
<div>
    @Html.Partial("ActionLinkButtons/_PersonalProfile")

    @Html.Partial("ActionLinkButtons/_Predictions")

    @Html.Partial("ActionLinkButtons/_IChing")

    @Html.Partial("ActionLinkButtons/_Biorhythms")

    @Html.Partial("ActionLinkButtons/_Numerology")

    @Html.Partial("ActionLinkButtons/_KnowledgeBase")

    @Html.Partial("ActionLinkButtons/_BookConsultation")

    @Html.Partial("ActionLinkButtons/_TryOurGpt")
</div>