@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using TemplateParser = K9.SharedLibrary.Helpers.TemplateParser
@model K9.WebApplication.Models.CompatibilityModel

<div class="ninestar-summmary container padding-0">
    <div id="compatibility-container">
        <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
            <li class="active">
                <a data-toggle="tab" href="#overview">
                    @Dictionary.OverviewLabel
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/overview.png');"></div>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#strengthsandchallenges">
                    @Dictionary.StrengthsWeaknesses
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/relationships-strengths-challenges.png');"></div>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#indepth">
                    @Dictionary.InDepthAnalysis
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/in-depth-analysis.png');"></div>
                </a>
            </li>

            @if (!Model.IsHideSexualChemistry)
            {
                <li>
                    <a data-toggle="tab" href="#sexuality">
                        @Dictionary.SexualChemistryDetails
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/relationships.png');"></div>
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <div id="overview" class="tab-pane fade in active">
                @Html.Partial("_CompatibilityOverview", Model)
                <br />
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="strengthsandchallenges" class="tab-pane fade">
                @using (Html.PayWall(ESection.Compatibility, Model))
                {
                    @Html.Panel(Dictionary.StrengthsWeaknesses, Model.FundamentalEnergiesCompatibility)
                }
                <br />
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="indepth" class="tab-pane fade">
                @using (Html.PayWall(ESection.Compatibility, Model))
                {
                    @Html.Panel(Dictionary.FundamentalElementsAnalysis, Html.Partial("_CompatibilityFundamentalElements").ToString())
                    @Html.Panel(Dictionary.CharacterElementsAnalysis, Html.Partial("_CompatibilityCharacterElements").ToString())
                    @Html.Panel(Dictionary.AllElementsBreakdown, Html.Partial("_CompatibilityElementsBreakdown").ToString())
                    @Html.Panel(Dictionary.YinAndYangAnalysis, TemplateParser.Parse(Html.Partial("_CompatibilityYinYang").ToString(), new
                    {
                        SameTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "same-transformation"),
                        SupportiveTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "supportive-transformation"),
                        ChallengingTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "challenging-transformation")
                    }))
                }
                <br />
                @Html.Partial("_ButtonsFooter")
            </div>

            @if (!Model.IsHideSexualChemistry)
            {
                <div id="sexuality" class="tab-pane fade">
                    @using (Html.PayWall(ESection.Compatibility, Model))
                    {
                        @Html.Panel(Dictionary.SexualChemistryDetails, Model.SexualChemistryDetails)
                    }
                    <br />
                    @Html.Partial("_ButtonsFooter")
                </div>
            }
        </div>
    </div>
</div>

<script language="javascript">

    function scrollTo(el) {
        setTimeout(function () {
            $.fn.scrollToTopOf(el, -261);
        }, 200);
    }

    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.pathname.endsWith("/calculator/result")) {
            scrollTo("#overview"); 
        }
    });

</script>