@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.CompatibilityModel

<div>
    <div class="row">
        <div class="col-sm-12 col-xs-6 padding-0">
            <h4 class="margin-top-0 text-center">@Model.FirstPersonName</h4>
            @Html.Partial("_PersonalChart", Model.NineStarKiModel1)
        </div>
        <div class="col-sm-12 col-xs-6 padding-0">
            <h4 class="margin-top-0 text-center">@Model.SecondPersonName</h4>
            @Html.Partial("_PersonalChart", Model.NineStarKiModel2)
        </div>
    </div>

    <br />
    @Html.Partial("_CompatibilityGauges")

    @using (Html.PayWall(ESection.Compatibility, Model, () => Model?.IsComplementary))
    {
        <span></span>
    }
</div>

