@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Options
@using SessionHelper = K9.WebApplication.Helpers.SessionHelper
@model K9.WebApplication.Models.CompatibilityModel

@{
    var colOffset = Model.IsHideSexualChemistry ? "col-sm-offset-2" : "";
    var membership = this.GetActiveUserMembership();
    var isUnlimited = (membership?.MembershipOption?.IsUnlimited ?? false) || SessionHelper.CurrentUserIsAdmin();
}

<div class="well">
    <div class="row margin-top-20">
        <div class="col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
           {
               Title = Dictionary.ComplementarityScore,
               Value = (int) Model.CompatibilityDetails.Score.ComplementarityScore,
               IsSecret = membership == null
           })
            }
        </div>
        <div class="col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
                {
                    Title = Dictionary.ConflictScore,
                    Value = (int) Model.CompatibilityDetails.Score.ConflictScore,
                    IsInverted = true,
                    IsSecret = membership == null
                })
            }
        </div>
        <div class="@colOffset col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
               {
                   Title = Dictionary.HarmonyScore,
                   Value = (int)Model.CompatibilityDetails.Score.HarmonyScore,
                   IsSecret = !isUnlimited
               })
            }
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
                {
                    Title = Dictionary.SparkScore,
                    Value = (int) Model.CompatibilityDetails.Score.SparkScore,
                    IsSecret = !isUnlimited
                })
            }
        </div>
        @if (!Model.IsHideSexualChemistry)
        {
            <div class="col-sm-4 col-xs-12">
                @if (Model != null && Model.IsProcessed)
                {
                    @Html.Partial("_Gauge", new GaugeOptions
                    {
                        Title = Dictionary.SexualChemistry,
                        Value = (int) Model.CompatibilityDetails.Score.SexualChemistryScore,
                        MaxValue = (int) ESexualChemistryScore.OffTheCharts,
                        IsSecret = !isUnlimited
                    })
                }
            </div>
        }
        <div class="col-md-4 col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
           {
               Title = Dictionary.LearningPotentialScore,
               Value = (int) Model.CompatibilityDetails.Score.LearningPotentialScore,
               IsSecret = !isUnlimited
           })
            }
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
                {
                    Title = Dictionary.MutualUnderstanding,
                    Value = (int) Model.CompatibilityDetails.Score.MutualUnderstandingScore,
                    IsSecret = !isUnlimited
                })
            }
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("_Gauge", new GaugeOptions
                {
                    Title = Dictionary.MutualSupport,
                    Value = (int) Model.CompatibilityDetails.Score.SupportScore,
                    IsSecret = !isUnlimited
                })
            }
        </div>
    </div>
</div>