@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.CompatibilityModel

<div class="ninestar-summmary container padding-0">
    <div id="compatibility-container">
        <ul class="nav nav-pills nav-justified image-pill">
            <li class="active">
                <a data-toggle="tab" href="#strengthsandchallenges">
                    @Dictionary.StrengthsWeaknesses
                    <div class="img-rounded image-pill" style="background-image: url('Images/ui/relationships-strengths-challenges.png');"></div>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#indepth">
                    @Dictionary.InDepthAnalysis
                    <div class="img-rounded image-pill" style="background-image: url('Images/ui/in-depth-analysis.png');"></div>
                </a>
            </li>

            @if (!Model.IsHideSexualChemistry)
            {
                <li>
                    <a data-toggle="tab" href="#sexuality">
                        @Dictionary.SexualChemistryDetails
                        <div class="img-rounded image-pill" style="background-image: url('Images/ui/sexuality.png');"></div>
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <div id="strengthsandchallenges" class="tab-pane fade in active">
                @using (Html.PayWall(Model))
                {
                    @Html.Panel(Dictionary.FundamentalEnergiesCompatibility, Model.FundamentalEnergiesCompatibility)
                }
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="indepth" class="tab-pane fade">
                @using (Html.PayWall(Model))
                {
                    @Html.Panel(Dictionary.FundamentalElements, Html.Partial("_CompatibilityFundamentalElements").ToString())
                    @Html.Panel(Dictionary.CharacterElements, Html.Partial("_CompatibilityCharacterElements").ToString())
                    @Html.Panel(Dictionary.AllElementsBreakdown, Html.Partial("_CompatibilityElementsBreakdown").ToString())
                    @Html.Panel(Dictionary.YinAndYang, TemplateProcessor.PopulateTemplate(Html.Partial("_CompatibilityYinYang").ToString(), new
                    {
                        SameTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "same-transformation"),
                        SupportiveTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "supportive-transformation"),
                        ChallengingTransformationLink = Url.ActionWithBookmark("Index", "KnowledgeBase", "challenging-transformation")
                    }))
                }
                @Html.Partial("_ButtonsFooter")
            </div>

            @if (!Model.IsHideSexualChemistry)
            {
                <div id="sexuality" class="tab-pane fade">
                    @using (Html.PayWall(Model))
                    {
                        @Html.Panel(Dictionary.SexualChemistryDetails, Model.SexualChemistryDetails)
                    }
                    @Html.Partial("_ButtonsFooter")
                </div>
            }
        </div>
    </div>
</div>
