@model K9.WebApplication.Models.CompatibilityModel
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.CompatibilityTitle;
    ViewBag.SubTitle = Dictionary.RelationshipCompatibilityCalculator;
    ViewBag.Keywords = Dictionary.CompatibilityKeywords;
    ViewBag.MetaDescription = Dictionary.CompatibilityMetaDescription;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <div class="row">
        <div class="col-sm-12 padding-0">
            @Html.Partial("_CalculatorForm")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 padding-0">
            <article>
                @if (Model != null && Model.IsProcessed)
                {
                    @Html.Raw(Html.Panel(Dictionary.CompatibilityTitle, Dictionary.compatibility_subtitle).ToString())

                    @Html.Panel(Dictionary.CompatibilityResults, Html.Partial("_CompatibilityPills").ToString())
                }
                else
                {
                    <div class="margin-bottom-20">
                        @Html.Panel("9 Star Ki and Relationships", Html.Partial("../Relationships/_AboutRelationships").ToString(), "relationships")

                        @using (Html.PayWall(ESection.Compatibility, Model, true))
                        {

                            @Html.Panel("The 5 Transformations", Html.Partial("../NineStarKi/_FiveTransformations").ToString(), "transformations")

                            @Html.Panel("9 Star Ki and Sexuality", Html.Partial("../PersonalChart/_Sexuality").ToString(), "sexuality")
                        }

                        @Html.Partial("_ButtonsFooter")
                    </div>
                }
            </article>
        </div>
    </div>
</div>

