@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.ViewModels
@model EmailTemplate

@Html.HiddenFor(e => e.MembershipOptionId)

@Html.BootstrapEditorFor(model => model.PromotionId)

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Promotion.SubscriptionTypeName)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Promotion.FullPrice)
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Promotion.DiscountPercent)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Promotion.SpecialPrice)
    </div>
</div>

<hr />

@Html.Partial("_DynamicFields", new EmailTemplateDynamicFieldsViewModel())

@Html.BootstrapEditorFor(model => model.Name)

@Html.BootstrapEditorFor(model => model.Subject)

@Html.BootstrapEditorFor(model => model.HtmlBody)

<script>

    $(function() {
        $("#PromotionId").change(function() {
            let url = "@Url.Action("Get", "Promotions")";
            let id = $(this).val();

            ajaxcontroller().send(url,
            {
                id
            }, "POST").
            done(
                function(result) {
                    if (result.data.success) {
                        var promotion = result.data.promotion;

                        $("#MembershipOptionId").val(promotion.MembershipOptionId);

                        $("div[data-input-id='SubscriptionTypeName'] input").val(promotion.SubscriptionTypeName);
                        $("div[data-input-id='DiscountPercent'] input").val(promotion.DiscountPercent + "%");
                        $("div[data-input-id='FullPrice'] input").val(promotion.FormattedFullPrice);
                        $("div[data-input-id='SpecialPrice'] input").val(promotion.FormattedSpecialPrice);
                    } else {
                        that.changeLoadingState(false);
                        $.fn.showToast(result.errorMessage || errorMessage, 'error');
                    }
                });
        });
    });

</script>