@model NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@Model.Element</h3>
    <img title="@Model.Element @K9.Globalisation.Dictionary.Element"  alt="@Model.Element @K9.Globalisation.Dictionary.Element" class="auto-size center-block" src="/Images/ninestar/elements/@(Model.Element).png"/>
</div>