@model EnergyInfo

@if (Model != null)
{
    <div class="container margin-0 padding-0 width-100 clear-both ninestar-header-container">
        <article>
            <h3><strong>@Model.EnergyName</strong>
            </h3>
            <div>
                <h4>@Html.DisplayFor(m => Model.Trigram)</h4>
                @Model.Trigram
                <hr/>
                <h4>@Html.DisplayFor(m => Model.EnergyDescription)</h4>
                @Model.Description
            </div>
        </article>
    </div>
}