@model K9.WebApplication.ViewModels.NineStarKiSummaryViewModel
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options

@{
    ViewBag.Title = K9.Globalisation.Dictionary.LearnNineStarKiTitle;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.LearnNineStarKiTitle;
    ViewBag.Keywords = K9.Globalisation.Dictionary.NineStarKiCalculatorKeywords;
    ViewBag.MetaDescription = K9.Globalisation.Dictionary.NineStarKiCalculatorMetaDescription;

    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel("Origins", K9.Globalisation.Dictionary.origins, "origins")

        @Html.Panel("Cycles of Light and Dark", K9.Globalisation.Dictionary.cycles, "cycles", "Images/about/light-dark.jpg", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel("Yin and Yang", K9.Globalisation.Dictionary.yinyang, "yinyang", "Images/ninestar/yinyang/yinyang-large.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel("The Three Modalities", K9.Globalisation.Dictionary.modalities_description, "modalities")

        @Html.Panel("Dynamic Modality", K9.Globalisation.Dictionary.dynamic_modality, "dynamic", "Images/ninestar/modalities/dynamic.png")

        @Html.Panel("Static Modality", K9.Globalisation.Dictionary.static_modality, "static", "Images/ninestar/modalities/statis.png")

        @Html.Panel("Flexible Modality", K9.Globalisation.Dictionary.flexible_modality, "flexible", "Images/ninestar/modalities/flexible.png")

        @Html.Panel(K9.Globalisation.Dictionary.FireElement, K9.Globalisation.Dictionary.fire_element, "fire", "Images/ninestar/elements/fire.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel("The Five Elements / Transformations", K9.Globalisation.Dictionary.five_elements, "elements")

        @Html.Panel(K9.Globalisation.Dictionary.FireElement, K9.Globalisation.Dictionary.fire_element, "fire", "Images/ninestar/elements/fire.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(K9.Globalisation.Dictionary.EarthElement, K9.Globalisation.Dictionary.earth_element, "earth", "Images/ninestar/elements/earth.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(K9.Globalisation.Dictionary.MetalElement, K9.Globalisation.Dictionary.metal_element, "metal", "Images/ninestar/elements/metal.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(K9.Globalisation.Dictionary.WaterElement, K9.Globalisation.Dictionary.water_element, "water", "Images/ninestar/elements/water.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(K9.Globalisation.Dictionary.TreeElement, K9.Globalisation.Dictionary.tree_element, "tree", "Images/ninestar/elements/tree.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel("9 Star Ki Personal Chart", K9.Globalisation.Dictionary.personal_chart, "chart")

        @Html.Panel("The Nine Main Energies", Html.Partial("_NineEnergiesOverview", Model.MainEnergies).ToString(), "energies")

        @Html.Panel("The Nine Character Energies", Html.Partial("_NineEnergiesOverview", Model.CharacterEnergies).ToString(), "characters")
    </article>
</div>

