@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.NineStarKiViewModel

@{
    ViewBag.Title = K9.Globalisation.Dictionary.nine_star_ki_title;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.AboutNineStarKi;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel("Origins", K9.Globalisation.Dictionary.origins)

        @Html.Panel("Cycles of Light and Dark", K9.Globalisation.Dictionary.cycles, "/Images/home/light-dark.jpg", EPanelImageSize.Medium)

        @Html.Panel("Yin and Yang", K9.Globalisation.Dictionary.yinyang, "/Images/ninestar/yinyang/Yang.png", EPanelImageSize.Medium, EPanelImageLayout.Contain)

        @Html.Panel("The Three Modalities", K9.Globalisation.Dictionary.three_modalities)

        @Html.Panel("The Five Elements", K9.Globalisation.Dictionary.five_elements)

        @Html.Panel("9 Star Ki Personal Chart", K9.Globalisation.Dictionary.personal_chart)

        @Html.Panel("The Nine Energies", K9.Globalisation.Dictionary.personal_chart)

    </article>
</div>

