@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.Home;
}
<div class="row text-center page-header">
	<img src="~/Images/company/botf_med.png"/>
	<h2>@WebsiteConfiguration.Instance.CompanyName</h2>
</div>

<article>
	@MvcHtmlString.Create(Dictionary.blessings_of_the_forest)
</article>
<div class="text-center">
	@Html.BootstrapActionLinkButton(Dictionary.SupportUs, "OurMission", "AboutUs", null, "fa-thumbs-o-up", EButtonClass.Large)
	@Html.BootstrapActionLinkButton(Dictionary.OurMission, "OurMission", "AboutUs", null, "fa-chevron-right", EButtonClass.Large, EButtonClass.IconRight)
</div>

<hr/>
<div class="row">
	<div class="col-sm-6">
		<h3 class="margin-top-0">Iboga, @Dictionary.OnTheBrinkOfExtinctionTitle</h3>
		<div class="well well-lg bg-black">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/161684888" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<h3 class="margin-top-0">@Dictionary.OurLatestPicturesTitle</h3>
		<div class="well well-lg">
			@Html.Carousel(new CarouselOptions("Images/latest"))
		</div>
	</div>
</div>

<div class="section-full-width bg-grey">
	<div class="section-full-width">
		@Html.Partial("_ContactUs")	
	</div>	
</div>


