@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Home;
    ViewBag.SubTitle = Dictionary.WelcomeSubTitle;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<style>
    article h4 {
        margin-top: 0;
    }
</style>

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        <div class="row">
            <article>
                @MvcHtmlString.Create(Dictionary.welcome)
            </article>
        </div>
        <div class="row">
            <article>
                @MvcHtmlString.Create(Dictionary.welcome2)
            </article>

            <br />

            @Html.BootstrapActionLinkButton(Dictionary.PersonalChartCalculator, "Index", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Primary, EButtonClass.Large)

            @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-heart", EButtonClass.Info, EButtonClass.Large)

            @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
        </div>
    </div>
</div>