@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.Home;
}
<div class="row text-center page-header">
	<img src="~/Images/company/botf_med.png"/>
	<h2><strong>@WebsiteConfiguration.Instance.CompanyName</strong></h2>
</div>

<article>
	@MvcHtmlString.Create(Dictionary.blessings_of_the_forest)
</article>

<div class="text-center">
	@Html.BootstrapActionLinkButton(Dictionary.SupportUs, "OurMission", "AboutUs", null, "fa-thumbs-o-up", EButtonClass.Large)
	@Html.BootstrapActionLinkButton(Dictionary.OurMission, "OurMission", "AboutUs", null, "", EButtonClass.Large)
</div>

<hr/>
<div class="section-full-width bg-green">
	<div class="row">
		<div class="col-md-6">
			<h3 class="margin-top-0 text-white">Iboga, @Dictionary.OnTheBrinkOfExtinctionTitle</h3>
			<div class="well well-lg">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://player.vimeo.com/video/161684888" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-6 padding-left-desktop-2">
			<h3 class="margin-top-0 text-white">@Dictionary.OurLatestPicturesTitle</h3>
			<div class="well well-lg">
				@Html.Carousel(new CarouselOptions("Images/latest"))
			</div>
		</div>
	</div>
	<h3 class="text-white">@Dictionary.OurPartners</h3>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a title="GITA" href="https://www.ibogainealliance.org"><img src="~/Images/partners/global-ibogaine.jpg" class="img-circle" alt="GITA" width="100%" height="100%"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 padding-left-desktop-1">
			<a title="Plant Consciousness" href="http://www.plantconsciousness.com"><img src="~/Images/partners/plant-consciousness.jpg" class="img-circle" alt="Plant Consciousness" width="100%" height="100%"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 padding-left-desktop-1">
			<a title="Iceers" href="http://www.iceers.org"><img src="~/Images/partners/iceers.jpg" class="img-circle" alt="Iceers" width="100%" height="100%"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 padding-left-desktop-1">
			<a title="Ebando" href="http://www.ebando.org"><img src="~/Images/partners/ebando.jpg" class="img-circle" alt="Ebando" width="100%" height="100%"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 padding-left-desktop-1">
			<a title="Parcs Gabon" href="http://www.parcsgabon.org"><img src="~/Images/partners/parc-gabon.jpg" class="img-circle" alt="Parcs Gabon" width="100%" height="100%"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 padding-left-desktop-1">
			<a title="Laurent Sazy" href="http://www.blurb.fr/b/6936816-bokay"><img src="~/Images/partners/bokaye.jpg" class="img-circle" alt="Laurent Sazy" width="100%" height="100%"></a>
		</div>
	</div>
	<br/>
</div>

<h3>@Dictionary.GetInTouchTitle</h3>
@Html.Partial("_ContactUs")
