@using K9.WebApplication.Helpers
@model K9.WebApplication.ViewModels.NineStarKiViewModel

@{
    ViewBag.Title = K9.Globalisation.Dictionary.PersonalProfileCalculator;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.WelcomeTitle;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    @Html.ImagePanel("Welcome", "/Images/home/ninestar-home-bg.jpg")

    <article>
        @MvcHtmlString.Create(K9.Globalisation.Dictionary.welcome)
    </article>

    <br />

    @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.PersonalProfileCalculator, "Index", "NineStar")

    @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, null, EButtonClass.Info)
</div>