@using K9.WebApplication.Helpers
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Home;
    ViewBag.SubTitle = Dictionary.WelcomeSubTitle;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("Welcome", "~/Images/home/ninestar-home-bg.jpg")

        <article>
            @MvcHtmlString.Create(Dictionary.welcome)
        </article>

        <br />

        @Html.BootstrapActionLinkButton(Dictionary.PersonalProfileCalculator, "Index", "NineStarKi")

        @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, null, EButtonClass.Info)

        @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultations", null, null, EButtonClass.Success)
    </div>
</div>