@{
	ViewBag.Title = Dictionary.Home;
	ViewBag.SubTitle = "THis is the subtitle";
	Layout = "../Shared/_LayoutTemplateMaster.cshtml";
}

<div class="about main-section">
	<div class="container">
		<div class="about-grids">
			<div class="col-md-5">
				<div class="picture-frame">
					<img src="~/Images/home/wood1.jpg" alt="" />
				</div>
			</div>
			<div class="col-md-7">
				<h5>@Dictionary.blessings_of_the_forest_intro</h5>
				<article>
					@MvcHtmlString.Create(Dictionary.blessings_of_the_forest)
				</article>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="jarallax offers main-section">
	<div class="container">
		<div class="main-heading">
			<h3 class="text-white">@Dictionary.OurMission</h3>
		</div>
		<div class="offers-grids">
			<div class="col-md-6 wthree-offers-left our-mission">
				<div class="offers-left-heading">
					<h4>@Dictionary.mission_statement_and_aims_title1</h4>
				</div>
				@MvcHtmlString.Create(Dictionary.mission_statement_and_aims1)
			</div>
			<div class="col-md-6 wthree-offers-right our-mission">
				<div class="offers-left-heading">
					<h4>@Dictionary.mission_statement_and_aims_title2</h4>
				</div>
				@MvcHtmlString.Create(Dictionary.mission_statement_and_aims2)
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="team main-section">
	<div class="container">
		<div class="main-heading">
			<h3>@Dictionary.OurPartners</h3>
		</div>
		<div class="main-section">
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/global-ibogaine.jpg" alt="GITA">
					</div>
					<div class="info">
						<h3>Ibogaine Aliance</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/plant-consciousness.jpg" alt="Plant Consciousness">
					</div>
					<div class="info">
						<h3>Plant Consciousness</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/iceers.jpg" alt="Iceers">
					</div>
					<div class="info">
						<h3>Iceers</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="team-grids">
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/ebando.jpg" alt="Ebando"></div>
					<div class="info">
						<h3>Ebando</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/parc-gabon.jpg" alt="Parcs Gabon"></div>
					<div class="info">
						<h3>Parcs Gabon</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 team-grid">
				<div class="ih-item circle effect10 bottom_to_top">
					<div class="img"><img src="~/Images/partners/bokaye.jpg" alt="Laurent Sazy"></div>
					<div class="info">
						<h3>Laurent Sazy</h3>
						<div class="team-icons">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>