@using System.Web.Mvc.Html
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.ViewModels.MembershipViewModel

@{
    ViewBag.Title = Dictionary.MembershipLabel;
    ViewBag.SubTitle = Dictionary.MembershipOptions;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="row">
        <div class="text-center">
            @foreach (var membershipModel in Model.MembershipModels.Where(e => e.IsPayable))
            {
                <div class="col-md-3 col-sm-6 padding-0">
                    @Html.Partial("_MembershipOption", membershipModel)
                </div>
            }
        </div>
    </div>
    <div class="row well">
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(Dictionary.platinum_weekly_membership_description)
            </div>
        </div>
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(Dictionary.platinum_monthly_membership_description)
            </div>
        </div>
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(Dictionary.platinum_annual_membership_description)
            </div>
        </div>
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(Dictionary.platinum_lifetime_membership_description)
            </div>
        </div>
    </div>
   
    <hr />
    @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.BackToMyAccountTitle, "MyAccount", "Account", null, "fa-user-circle", EButtonClass.Large)
</div>
