@model K9.WebApplication.Models.MembershipModel
@{
    ViewBag.Title = Dictionary.MembershipOptions;
    Layout = "../Shared/_LayoutFormSmall.cshtml";

    var buttonText = Model.IsUpgrade
        ? Dictionary.Upgrade
        : Dictionary.Switch;
}

@using (Html.BeginForm("SwitchScheduleProcess", "Membership", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.MembershipOption.Id)
        @Html.BootstrapDisplayFor(model => model.MembershipOption.Name)

        <p>@Dictionary.MembershipRunsUntil @Model.ActiveUserMembership.EndsOn.ToLongDateString()</p>

        <p>@Dictionary.NoChargeUntilText @Model.NewMembership.StartsOn.ToLongDateString()</p>

        @Html.BootstrapButton(buttonText, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight)

        <hr />

        @Html.BootstrapActionLinkButton(Dictionary.Back, "SwitchStart", "Membership", new { id = Model.MembershipOption.Id }, "fa-chevron-left")
    }
}