@using ServiceStack.Text
@model K9.WebApplication.Options.GaugeOptions

@{
    var id = @Guid.NewGuid().ToString();
    var backgroundColor = K9.WebApplication.Helpers.SessionHelper.IsDarkTheme() ? "rgba(208, 232, 241, 0.03)" : "#fff";
}

<div class="gauge-container">
    <canvas id="@id" data-type="radial-gauge"
            data-color-plate="@backgroundColor"
            data-value="@Model.Value"
            data-max="@Model.MaxValue"
            data-width="200"
            data-height="200"
            data-bar-width="20"
            data-bar-shadow="1"
            data-color-bar-progress="@Model.StrokeColor"
            data-color-bar="@Model.TitleBackgroundColor"
            data-border-shadow-width="0"
            data-border-inner-width="0"
            data-border-outer-width="0"
            data-border-middle-width="0"
            data-highlights="false"
            data-value-box-stroke="0"
            data-color-value-box-shadow="0"
            data-value-box-border-radius="0"
            data-value-text-shadow="0"
            data-color-value-box-background="transparent"
            data-needle="true"
            data-needle-type="line"
            data-needle-width="1"
            data-needle-circle-size="5"
            data-needle-circle-inner="false"
            data-color-needle-circle-outer="@Model.StrokeColor"
            data-color-needle-circle-outer-end="#aae"
            data-value-format="0"
            data-value-box="false"
            data-glow="true"
            data-title="@Model.Title"
            data-units="@Html.Raw(Model.Units)"
            data-font-units-size="50"
            data-font-title-size="26"
            data-font-color="@Model.StrokeColor"
            data-font-title-weight="bold"
            
            @if (K9.WebApplication.Helpers.SessionHelper.IsDarkTheme())
            {
                @:data-color-major-ticks="#e0e0e0"
                @:data-color-minor-ticks="#e0e0e0"
                @:data-color-numbers="#e0e0e0"
            }
    ></canvas>
</div>

