@using K9.SharedLibrary.Extensions

<div class="navigation">
    <a href="#cycles">@Dictionary.CyclesOfLightAndDark</a>
    <a href="#yinyang">@Dictionary.YinAndYang</a>
    <a href="#modalities">@Dictionary.ThreeModalitiesTitle</a>
    <a href="#elements">@Dictionary.FiveElementsTitle</a>
    <a href="#fire">@Dictionary.FireElement</a>
    <a href="#earth">@Dictionary.EarthElement</a>
    <a href="#metal">@Dictionary.MetalElement</a>
    <a href="#water">@Dictionary.WaterElement</a>
    <a href="#tree">@Dictionary.TreeElement</a>
    <a href="#energies">@Dictionary.NineMainEnergiesTitle</a>
    <a href="#characters">@Dictionary.NineCharacterEnergiesTitle</a>
    <a href="#yearly-cycles">@Dictionary.YearlyCycles</a>
    <a href="#monthly-cycles">@Dictionary.MonthlyCycles</a>
    <a href="#chart">@Dictionary.PersonalChart</a>
    <a href="#relationships">@Dictionary.RelationshipsTitle</a>
    <a href="#transformations">@Dictionary.FiveTransformationsTitle</a>
    <a href="#sexuality">@Dictionary.SexualityTitle</a>
</div>