@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.NineStarKiSummaryViewModel

@{
    ViewBag.Title = Dictionary.LearnNineStarKiTitle;
    ViewBag.SubTitle = Dictionary.LearnNineStarKiTitle;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel(Dictionary.Navigation, Html.Partial("_Navigation").ToString())

        <hr />

        @Html.Panel(Dictionary.OriginsTitle, Dictionary.origins, "origins")

        @Html.Panel(Dictionary.CyclesOfLightAndDark, Dictionary.cycles, "cycles", $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/about/light-dark.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(Dictionary.YinAndYang, Dictionary.yinyang, "yinyang", $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/yinyang/yinyang-large.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(Dictionary.ThreeModalitiesTitle,
            Dictionary.modalities_description,
            "modalities")

        @Html.Partial("_ModalityDetails", Model.DynamicEnergies)

        @Html.Partial("_ModalityDetails", Model.StableEnergies)

        @Html.Partial("_ModalityDetails", Model.ReflectiveEnergies)

        @Html.Panel(
            Dictionary.FiveElementsTitle,
            Html.PayWallContent(ESection.KnowledgeBase, "elements", K9.SharedLibrary.Helpers.TemplateParser.Parse(Dictionary.five_elements, new {BaseImagesPath = DefaultValuesConfiguration.Instance.BaseImagesPath}), false, MembershipOption.ESubscriptionType.Free).ToString(),
            "elements")

        @Html.Panel(
            Dictionary.FireElement,
            Html.PayWallContent(ESection.KnowledgeBase, "fire", Dictionary.fire_element, false, MembershipOption.ESubscriptionType.Free).ToString(),
            "fire",
            $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/elements/fire.png",
            EPanelImageSize.Default,
            EPanelImageLayout.Contain)

        @Html.Panel(
            Dictionary.EarthElement,
            Html.PayWallContent(ESection.KnowledgeBase, "earth", Dictionary.earth_element, false, MembershipOption.ESubscriptionType.Free).ToString(),
            "earth",
            $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/elements/earth.png",
            EPanelImageSize.Default,
            EPanelImageLayout.Contain)

        @Html.Panel(
            Dictionary.MetalElement,
            Html.PayWallContent(ESection.KnowledgeBase, "metal", Dictionary.metal_element, false, MembershipOption.ESubscriptionType.Free).ToString(),
            "metal",
            $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/elements/metal.png",
            EPanelImageSize.Default,
            EPanelImageLayout.Contain)

        @Html.Panel(
            Dictionary.WaterElement,
            Html.PayWallContent(ESection.KnowledgeBase, "water", Dictionary.water_element, false, MembershipOption.ESubscriptionType.Free).ToString(),
            "water",
            $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/elements/water.png",
            EPanelImageSize.Default,
            EPanelImageLayout.Contain)

        @Html.Panel(Dictionary.TreeElement,
            Html.PayWallContent(ESection.KnowledgeBase, "tree", Dictionary.tree_element, false, MembershipOption.ESubscriptionType.Free).ToString(),
            "tree",
            $"{DefaultValuesConfiguration.Instance.BaseImagesPath}/ninestar/elements/tree.png",
            EPanelImageSize.Default,
            EPanelImageLayout.Contain)

        @Html.Panel(Dictionary.NineMainEnergiesTitle,
            Html.Partial("_NineEnergiesOverview", Model.MainEnergies).ToString(), "energies")

        @Html.Panel(Dictionary.NineCharacterEnergiesTitle,
            Html.Partial("_NineEnergiesOverview", Model.CharacterEnergies).ToString(), "characters")

        @Html.Panel(
            Dictionary.YearlyCycles,
            Dictionary.year_description,
            "yearly-cycles")

        @Html.Panel(
            Dictionary.NineYearlyCyclesTitle,
            Html.Partial("_YearlyCyclesOverview", Model.MainEnergies).ToString(),
            "nine-yearly-cycles")

        @Html.Panel(Dictionary.MonthlyCycles,
            Dictionary.month_description,
            "monthly-cycles")

        @Html.Panel(Dictionary.NineMonthlyCyclesTitle,
            Html.Partial("_MonthlyCyclesOverview", Model.CharacterEnergies).ToString(),
            "nine-monthly-cycles")

        @Html.Panel(Dictionary.PersonalChart,
            Dictionary.personal_chart,
            "chart")

        @Html.Panel(Dictionary.RelationshipsTitle,
            Html.Partial("_AboutRelationships").ToString(),
            "relationships")

        @Html.Panel(Dictionary.FiveTransformationsTitle,
            Html.PayWallContent(ESection.KnowledgeBase, $"transformations", Html.Partial("../NineStarKi/_FiveTransformations").ToString(), false, MembershipOption.ESubscriptionType.Free).ToString(),
            "transformations")

        @Html.Panel(Dictionary.SexualityTitle,
            Html.PayWallContent(ESection.KnowledgeBase, $"sexuality", Html.Partial("../PersonalChart/_Sexuality").ToString(), false, MembershipOption.ESubscriptionType.Free).ToString(),
            "sexuality")

        @Html.Partial("_ButtonsFooter")
    </article>
</div>

