@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            @Html.Partial("_ChakraCode", Model.Dominant)
            @Html.Panel($"Purpose: {Model.Dominant.Purpose}", Model.Dominant.Description)
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.SubDominant)
                @Html.CollapsiblePanel($"Purpose: {Model.SubDominant.Purpose}", Model.SubDominant.Description)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Guide)
                @Html.CollapsiblePanel($"Purpose: {Model.Guide.Purpose}", Model.Guide.Description)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Gift)
                @Html.CollapsiblePanel($"Purpose: {Model.Gift.Purpose}", Model.Gift.Description)
            </div>
            <div class="col-xs-12">
                @Html.Partial("_ChakraCodesTimeline", Model)
            </div>
        </div>
    </div>
</div>
