@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <h2>Roadmap</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h3>Foundation</h3>
            @Html.Partial("_ChakraCode", Model.SubDominant)
            @Html.Partial("_ChakraCodesYearlyPlannerDetails", Model.DharmaCodesFoundation)
        </div>
        <div class="col-sm-4 col-xs-12">
            <h3>Guide</h3>
            @Html.Partial("_ChakraCode", Model.Guide)
            @Html.Partial("_ChakraCodesYearlyPlannerDetails", Model.DharmaCodesContribution)
        </div>
        <div class="col-sm-4 col-xs-12">
            <h3>Ascension</h3>
            @Html.Partial("_ChakraCode", Model.Gift)
            @Html.Partial("_ChakraCodesYearlyPlannerDetails", Model.DharmaCodesAscension)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h3>Elders</h3>
            @Html.Partial("_ChakraCode", Model.Dominant)
            @Html.Partial("_ChakraCodesYearlyPlannerDetails", Model.DharmaCodesElders)
        </div>
    </div>
</div>
