@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.ScheduleConsultationViewModel
@{
    ViewBag.Title = Dictionary.ScheduleConsultation;
    ViewBag.SubTitle = Dictionary.ScheduleConsultation;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

<div class="container main-content margin-bottom-0">
    <article>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    @Html.Raw(TemplateProcessor.PopulateTemplate(Dictionary.PleaseSelectATimeSlot, new
                    {
                        ConsultationDuration = Model.Consultation.DurationDescription
                    }))
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="time-slots">
                    @foreach (var slot in Model.AvailableSlots)
                    {
                        <a href="@Url.Action("SelectSlot", "Consultation",
                                     new
                                     {
                                         consultationId = Model.Consultation.Id,
                                         slotId = slot.Id
                                     })">
                            <p class="bold">@slot.FormattedStartsOnLocalDate</p>
                            <p>@slot.FormattedStartsOnLocalTime : @slot.FormattedEndsOnLocalTime</p>
                        </a>
                    }
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_WhatsApp", new K9.WebApplication.ViewModels.WhatsAppViewModel
                   {
                       Title = Dictionary.NeedToScheduleADifferentTime,
                       Message = Dictionary.WhatsAppScheduleAppointmentText
                   })
            </div>
        </div>

    </article>
</div>