@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model List<Slot>
@{
    ViewBag.Title = Dictionary.AvailableSlots;
    ViewBag.SubTitle = Dictionary.AvailableSlots;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<div class="container main-content margin-bottom-0">
    <article>
        <div class="row">
            <div class="col-md-12">
                <div class="time-slots">
                    @foreach (var slot in Model)
                    {
                        <a href="@Url.Action("SelectSlot", "Consultation")">
                            <h4>@Dictionary.LocalTime</h4>
                            <p>@slot.FormattedStartsOnLocalDate</p>
                            <p>@slot.FormattedStartsOnLocalTime : @slot.FormattedEndsOnLocalTime</p>
                            <br />
                            <h4>@Dictionary.MyTime</h4>
                            <p>@slot.FormattedStartsOnMyDate</p>
                            <p>@slot.FormattedStartsOnMyTime : @slot.FormattedEndsOnMyTime</p>
                        </a>
                    }
                </div>
            </div>
        </div>
    </article>
</div>