@model LocalPasswordModel

@using (Html.BeginAjaxFormEx("#manageForm", "Manage", "Account"))
 {
    @Html.AntiForgeryToken()
    <fieldset>
		<legend>@Dictionary.ChangePassword</legend>
		@using (Html.BeginFieldsetGroup())
		{
			<div class="editor-label">
				@Html.LabelFor(model => model.OldPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.OldPassword)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.NewPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.NewPassword)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.ConfirmPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.ConfirmPassword)
			</div>
			<input type="submit" value="@Dictionary.ChangePassword" />
		}
    </fieldset>
	@Html.ValidationSummary(true)
	<p class="message-success">@ViewBag.StatusMessage</p>
 }