@model ResetPasswordModel

@using (Html.BeginAjaxFormEx("#resetPasswordForm"))
 {
	@Html.AntiForgeryToken()
	<fieldset>
		<legend>@Dictionary.PasswordResetTitle</legend>
		@if (!string.IsNullOrEmpty(Model.Token))
  {
		using (Html.BeginFieldsetGroup())
  {
			@Html.HiddenFor(model => model.UserName)
			@Html.HiddenFor(model => model.Token)

			<div class="editor-label">
				@Html.LabelFor(model => model.NewPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.NewPassword)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.ConfirmPassword)
			</div>
			<div class="editor-field">
				@Html.KendoPasswordFor(model => model.ConfirmPassword)
			</div>
			<input type="submit" value="@Dictionary.ResetPassword" />
  }
  }
    </fieldset>
	@Html.ValidationSummary(true)
 }